.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

.cards > ul > li {
    border: 1px solid var(--highlight-background-color);
    background-color: var(--background-color)
}

.cards .cards-body {
    margin: 16px;
}

.cards .cards-image {
    line-height: 0;
}

.cards .cards-body *:first-child {
    margin-top: 0;
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}