main{
    background-color: #1b1b1b;
}

.blog-hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  padding: 40px 0 0 0 !important;
}

.blog-hero-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

div.section.blog-hero-container > div > div > div > div:nth-child(2) > p:nth-child(3) {
    font-size: 0.9rem;
    font-family: "Hitmarker Text Regular";
}

.blog-hero {
  width: 100%;
}

.blog-hero > div {
  display: flex;
  flex-direction: column;
}

/* Image column */
.blog-hero > div > div:first-child {
  width: 100%;
}

.blog-hero > div > div:first-child picture {
  width: 100%;
  display: block;
}

.blog-hero > div > div:first-child img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0;
}

/* Content column */
.blog-hero > div > div:last-child {
  width: 100%;
  background-color: #000;
}

.blog-hero h1 {
  margin-top: 0;
  font-family: "Hitmarker Condensed Black";
  font-size: 2.25rem;
  line-height: 1.2;
  color: #fff;
}

.blog-hero p {
  margin: 8px 0;
  font-size: var(--body-font-size-s);
  color: var(--text-color);
}

.blog-hero ul {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0;
  margin: 16px 0 0 0;
  list-style: none;
}

.blog-hero li {
  color: #9C978F;
  border: 1px solid #6F6E63;
  padding: 2px 4px;
  border-radius: 0;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: "Hitmarker Text Medium";
}

/* Desktop layout - two columns with 60/40 split */
@media (min-width: 900px) {
  .blog-hero > div {
    flex-direction: row;
    align-items: flex-start;
    align-items:center;
  }

  /* Image column - 60% */
  .blog-hero > div > div:first-child {
    width: 60%;
  }

  /* Content column - 40% */
  .blog-hero > div > div:last-child {
    width: 40%;
    padding-top: 16px;
    padding: 40px;
    margin-left: -1rem;
  }

  .blog-hero h1 {
    font-size: 2.25rem;
  }
}