.hlx/*
coverage/*
logs/*
node_modules
.parcel-cache

helix-importer-ui
.DS_Store
*.bak
.idea
# Ignore .map files in scripts/__dropins__/ directory and all its subdirectories
scripts/__dropins__/**/*.map
