.lnb__container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .contents {
        width: 100%;
        padding: 0px 2rem;
    }
}

:host(.page-box), .page-box {
    display: block;
    margin: 4.8rem 0 8rem;
}

@media (min-width: 1060px) {
        :host(.page-box), .page-box {
        margin: 6.4rem 0 12.8rem;
    }
    .lnb__container {
        display: grid;
        align-items: flex-start;
        gap: 3.2rem;
        margin: 0px auto;
        grid-template-columns: 4fr 12fr;

        .contents {
            margin: 0px;
            padding: 0px;
        }
    }
}
