.columnspanera > div {
  background-color: #35d315;
  display: flex;
  flex-direction: column;
}

.columnspanera img {
  width: 100%;
}

.columnspanera > div > div {
  order: 1;
}

.columnspanera > div > .columnspanera-img-col {
  order: 0;
}

.columnspanera > div > .columnspanera-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columnspanera > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columnspanera > div > div {
    flex: 1;
    order: unset;
  }
}
