main > .section.video-container {
    padding: 0;
}

.video-modal,
.video.block {
    box-sizing: border-box;
}

.video-modal > *,
.video.block > * {
    box-sizing: inherit;
}

.video-wrapper:has(.video.hero) {
    max-width: unset;
}

.video-hero {
    position: relative;
    overflow: hidden;
    background-color: #53565a;
    width: 100%;
    height: calc(100vh - var(--nav-height));
}

.video-hero .video-hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
    padding: 24px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    z-index: 2;
}

.video-hero .video-hero-title {
    font-size: 4rem;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

.video-hero .video-hero-description {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

.video-hero .video-hero-button:any-link {
    display: block;
    background-color: #fff;
    color: #141411;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.video-hero > picture {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.video-hero > picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-hero video,
.video-hero .vjs-poster img {
    object-fit: cover;
}

.custom-play-button {
    position: absolute;
    bottom: 18px;
    right: 18px;
    background-color: transparent;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0;
}

.custom-play-button .icon {
    width: 32px;
    height: 32px;
}

.custom-play-button:hover,
.custom-play-button:focus {
    background-color: transparent;
}

.video-card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px;
    list-style: none;
}

.video-card {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.video-card .video-container {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 2;
}

.video-card video,
.video-card .vjs-poster img {
    object-fit: cover;
}

.video-card picture {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.video-card picture,
.video-card .video-container picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3 / 2;
}

.video-modal .video-container {
    border-radius: 8px;
    overflow: hidden;
}

.video-card .video-card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 34px;
    overflow: hidden;
}

.video-card .video-card-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

.video-card .video-card-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    color: #53565a;
}

@media screen and (width >= 768px) {
    .video-card-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .video-card-grid-item:nth-child(odd):last-child {
        grid-column: 1 / -1;
    }

    .video-card-grid-item:nth-child(odd):last-child .video-card {
        display: flex;
        flex-direction: row-reverse;
    }

    .video-card-grid-item:nth-child(odd):last-child .video-container {
        flex: 1 0 50%;
    }

    .video-card-grid-item:nth-child(odd):last-child .video-card-content {
        justify-content: center;
    }
}

.video-component {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-component picture {
    display: block;
    width: 100%;
    height: 100%;
}

.video-component .video-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.video-component .video-play-button:hover,
.video-component .video-play-button:focus {
    background-color: #fff;
}

.video-component .video-play-button .icon {
    display: block;
    width: 100%;
    height: 100%;
}

.video-modal-dialog[open] {
    border: none;
    width: 100%;
    max-width: 1200px;
    padding: 0;
    overflow: auto;
}

.video-modal-dialog::backdrop {
    background-color: #fff;
}

.video-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.video-modal .video-modal-header,
.video-modal .video-modal-content {
    position: relative;
    padding: 10px;
    width: 100%;
}

.video-modal .video-modal-header {
    height: 44px;
}

.video-modal .video-modal-header .video-modal-close {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 10px;
    margin: 0;
    height: 40px;
    width: 40px;
}
