/* header and nav layout */
header {
  position: relative;
  z-index: 10;
}

header .nav-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease;
}

header .nav-wrapper.nav-hidden {
  transform: translateY(-100%);
}

header nav {
  box-sizing: border-box;
  background: rgba(51, 51, 51, 0.6);
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1440px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--body-font-family);
  margin-top: 10px;
  backdrop-filter: blur(8px);
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 15px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
    max-width: 1440px;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
  font-family: "Hitmarker Text Regular", Arial;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 0.88rem;
    line-height: 1.38rem;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  align-items: center;
}

header nav .nav-sections ul > li {
  font-weight: 500;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 400;
}


#nav > div.section.nav-sections > div > ul > li:last-child > p> a{
  padding: 10px 15px;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '+';
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 2px;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
  }

  header nav .nav-sections .nav-drop:hover::after {
    content: '-';
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    content: '-';
    top: unset;
    bottom: 0.5em;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li:hover > ul,
  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 200px;
    top: 150%;
    padding: 16px;
    background-color: var(--dark-color);
    white-space: initial;
    z-index: 1;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;

  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

header nav .nav-tools .button {
  margin: 0;
  border: none;
  padding: 0.5em;
  background: none;
  line-height: 0;
}

/* breadcrumbs */
header .breadcrumbs {
  display: none;
  margin: auto;
  max-width: 1248px;
  height: var(--breadcrumbs-height);
  padding: 0 24px;
  font-size: var(--body-font-size-xs);
  overflow: hidden;
}

header .breadcrumbs ol {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  gap: 1ch;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li {
  padding: 0;
  color: var(--dark-color);
}

header .breadcrumbs ol li:not(:last-child)::after {
  content: '/';
  padding-left: 1ch;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li[aria-current] {
  color: var(--text-color);
}

@media (width >= 900px) {
  header .breadcrumbs {
    display: block;
    max-width: 1264px;
    padding: 0 32px;
  }
}

@media (max-width: 900px) {
  header nav{
    margin-top:0;
  }
}

header nav .button-container .button{
  background-color: #f96800;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 700;
    font-style: normal;
    font-size: 0.88rem;
    line-height: 0.88rem;
    letter-spacing: 0.05em;
  font-family: "Hitmarker Normal Bold";
}

header nav .button-container .button:hover{
  border: 1px solid #f96800;
  border-style: outset;
  background-image: url('../img/media_140f63f096fbc0eb6c650151eaf0aaf62701fc3d7.gif');
  outline: 1px solid #F96800;
    outline-offset: 4px;
}

#nav > div.section.nav-sections > div > ul > li:nth-child(7){
  margin-left: auto;
  text-align: right;
}