/* stylelint-disable selector-class-pattern */

:root {
  --desktop-item-panel-max-width: 300px;
  --desktop-item-panel-min-width: 200px;
  --desktop-large-panel-width: 900px;
  --desktop-panel-min-height: 200px;
  --desktop-panel-max-height: 600px;
}

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 3;
  position: fixed;
  border-bottom: 1px solid var(--color-neutral-300);
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools wrapperPopUpButton' var(--nav-height)
    'sections sections sections ...' 1fr / auto 1fr auto auto;
  align-items: center;
  gap: 0 16px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--type-base-font-family);
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 32px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  cursor: pointer;
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--color-neutral-50);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header nav .nav-brand {
  min-width: 128px;
}

header nav .nav-brand a {
  grid-area: brand;
  flex-basis: 128px;
  font: var(--type-headline-1-font);
  letter-spacing: var(--type-headline-1-letter-spacing);
  font-weight: bold;
}

li.nav-drop img {
  max-width: var(--desktop-item-panel-max-width);
  width: 100%;
  height: auto;
  object-fit: contain;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  font: var(--type-body-2-strong-font);
  letter-spacing: var(--type-body-2-strong-letter-spacing);
  list-style: none;
  padding-left: 0;
}

header nav .nav-sections ul > li,
header nav .nav-sections ul > li > a {
  font: var(--type-body-2-strong-font);
  letter-spacing: var(--type-body-2-strong-letter-spacing);
}

header nav .nav-brand a:hover {
  text-decoration: none;
}

header nav .nav-sections ul > li ul {
  margin-top: 0;
}

header nav .nav-sections ul > li ul > li {
  font-weight: 400;
}

header nav .nav-sections ul > li:empty {
  display: none;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header .nav-drop {
    align-self: center;
  }

  header nav .nav-sections .default-content-wrapper > ul > li,
  header nav .nav-sections .nav-drop {
    border-radius: 4px;
    padding: 0 var(--spacing-small);
  }

  header nav .nav-sections .nav-drop {
    cursor: pointer;
  }

  header nav .nav-sections .default-content-wrapper > ul > li a {
    text-decoration: none;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true'] ul {
    flex-flow: column wrap;
    max-height: calc(var(--desktop-panel-max-height) - 2 * var(--spacing-xbig));
    min-height: calc(var(--desktop-panel-min-height) - 2 * var(--spacing-xbig));
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] .submenu-wrapper {
    background-color: var(--color-neutral-50);
    box-sizing: border-box;
    left: 0;
    max-height: var(--desktop-panel-max-height);
    min-height: var(--desktop-panel-min-height);
    padding: var(--spacing-xbig);
    position: absolute;
    top: var(--spacing-large);
    width: 100%;
  }

  header nav .nav-sections .default-content-wrapper > ul > li .submenu-header {
    display: none;
  }

  header nav .nav-sections ul > li.nav-drop .submenu-title,
  header nav .nav-sections ul > li.nav-drop .submenu-header * {
    display: none;
    font: var(--type-body-1-emphasized-font);
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] ul {
    display: flex;
    margin: 0 auto;
    overflow-x: auto;
    width: var(--desktop-large-panel-width);
  }

  header nav .nav-sections .default-content-wrapper > ul > li ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--color-neutral-500);
  }

  header nav .nav-sections .default-content-wrapper > ul > li ul > li {
    min-width: var(--desktop-item-panel-min-width);
    max-width: var(--desktop-item-panel-max-width);
  }

  header nav .nav-sections .default-content-wrapper > ul > li:hover,
  header nav .nav-sections .nav-drop[aria-expanded='true'] {
    background-color: var(--color-neutral-200);
  }
}

/* tools */
header nav .nav-tools-panel {
  z-index: 100;
  position: absolute;
  box-shadow: var(--shape-shadow-2);
  background: var(--background-color);
  top: var(--nav-height);
  right: 0;
  width: 100%;
  display: none;
  box-sizing: border-box;
}

header nav .nav-tools-panel--show {
  display: block;
}

header nav .nav-tools {
  grid-area: tools;
  display: flex;
  height: 100%;
  gap: var(--spacing-small);
  align-items: center;
  background: var(--background-color);
  z-index: 3;
}

header nav .nav-tools-wrapper > button {
  color: var(--color-brand-700);
  background: transparent;
  padding: 10px;
  border: unset;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

header nav .nav-tools button.nav-cart-button {
  background-image: url('../../icons/cart.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

header nav .nav-tools button.nav-cart-button[data-count]::after {
  content: attr(data-count);
  position: absolute;
  top: 0;
  right: -2px;
  background-color: var(--color-brand-700);
  color: var(--color-neutral-100);
  border-radius: 50%;
  width: 1.75em;
  height: 1.75em;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  justify-content: center;
}

header nav .nav-tools button.nav-search-button {
  font-size: 0;
  background-image: url('../../icons/search.svg');
  background-repeat: no-repeat;
  background-position: center;
}

header .nav-search-panel {
  padding: var(--spacing-small);
}

header .nav-search-panel input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font: var(--type-headline-2-default-font);
  letter-spacing: var(--type-headline-2-default-letter-spacing);
  border: 1px solid currentcolor;
  appearance: none;
}

/* Mini Cart  */

.cart-mini-cart:not(:has(.cart-empty-cart)) {
  max-height: 760px;
  min-height: 360px;
}

/* If viewport height is below max, set max height to 90% of viewport */
@media (height < 820px) {
  .cart-mini-cart:not(:has(.cart-empty-cart)) {
    max-height: calc(100vh - var(--nav-height));
  }
}

header .nav-search-input .search_autocomplete .popover-container {
  width: 100%;
}

@media (width >= 1024px) {
  header nav .nav-tools-wrapper {
    position: relative;
  }

  header nav .nav-tools-panel {
    top: calc(-12px + var(--nav-height));
  }

  header nav .minicart-panel {
    width: 398px;
  }

  header nav .nav-search-panel {
    width: 398px;
  }
}

/* CSS for authCombine */
#auth-combine-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow-y: auto;
  padding: 10px 0;
  box-sizing: border-box;
}

#auth-combine-wrapper {
  background-color: white;
  border-radius: var(--shape-border-radius-2);
  width: 100%;
  max-width: 800px;
  min-height: max-content;
  margin: 0 10px;
  box-sizing: border-box;
  max-height: 90vh;
  overflow-y: auto;

  @supports (height: 90svh) {
    max-height: 90svh;
  }
}

/* CSS for auth dropdown */

.dropdown-wrapper.nav-tools-wrapper .nav-dropdown-button {
  font: var(--type-body-1-default-font) !important;
  letter-spacing: var(--type-body-1-default-letter-spacing) !important;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 40px;
}

.dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel {
  font: var(--type-body-1-default-font) !important;
  letter-spacing: var(--type-body-1-default-letter-spacing) !important;
  width: 100%;
}

@media (width >= 1024px) {
  .dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel {
    width: 398px;
  }
}

.dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel .authenticated-user-menu {
  list-style: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel .authenticated-user-menu li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel .authenticated-user-menu li > a {
  padding: 12px 15px;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}

.dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel .authenticated-user-menu li > a:hover,
.dropdown-wrapper.nav-tools-wrapper
.nav-auth-menu-panel
.authenticated-user-menu
li
> .logoutButton:hover {
  background-color: lightgray;
}

.dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel .authenticated-user-menu li button {
  cursor: pointer;
  background-color: transparent !important;
  color: currentcolor !important;
  padding: 12px 15px !important;
  display: inline-block !important;
  width: 100% !important;
  text-decoration: none !important;
  font: var(--type-body-1-strong-font) !important;
  letter-spacing: var(--type-body-1-strong-letter-spacing) !important;
  margin: 0 !important;
  text-align: start !important;
  box-sizing: border-box !important;
  border: none !important;
  border-radius: 0 !important;
}

.dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel .authenticated-user-menu li button:hover {
  background-color: lightgray !important;
  border-radius: 0 !important;
}

.grecaptcha-badge {
  margin-top: 20px;
  z-index: 3;
}

.overlay {
  background-color: rgb(0 0 0 / 50%) !important;
  display: none;
  inset: 0;
  position: fixed;
  z-index: 2;
}

.overlay.show {
  display: block;
}

@media (width < 900px) {
  header {
    position: relative;
  }

  header .nav-wrapper.active,
  header .nav-wrapper:has( nav[aria-expanded='true']) {
    width: 320px;
  }

  header .nav-wrapper.active nav .nav-hamburger button,
  header .nav-wrapper:has( nav[aria-expanded='true']) nav .nav-hamburger button {
    position: fixed;
    left: 275px;
    z-index: 5;
  }

  header nav {
    position: relative;
  }

  header nav[aria-expanded='true'] {
    gap: var(--spacing-small);
    overflow-x: hidden;
    width: 320px;
  }

  header nav[aria-expanded='true'] .nav-tools {
    background: var(--background-color);
    bottom: 0;
    height: auto;
    left: 0;
    overflow: hidden;
    padding: var(--spacing-small) var(--spacing-medium);
    position: fixed;
    width: 272px;
  }

  header nav[aria-expanded='true'] .nav-tools-panel--show {
    position: fixed;
  }

  header nav .nav-sections {
    position: relative;
  }

  header nav .nav-sections ul {
    margin: 0;
  }

  header nav .nav-sections ul li {
    font: var(--type-headline-2-default-font);
    letter-spacing: var(--type-headline-2-default-letter-spacing);
    padding: var(--spacing-small) 0;
  }

  header nav .nav-sections ul li a {
    font: var(--type-headline-2-default-font);
    letter-spacing: var(--type-headline-2-default-letter-spacing);
  }

  header nav .nav-sections ul > li ul {
    width: 100%;
  }

  header nav .nav-sections ul > li ul > li {
    font: var(--type-headline-2-default-font);
    letter-spacing: var(--type-headline-2-default-letter-spacing);
    padding: var(--spacing-xsmall);
    width: auto;
  }

  header nav .nav-sections ul > li ul > li a {
    font: var(--type-headline-2-default-font);
    letter-spacing: var(--type-headline-2-default-letter-spacing);
  }

  header nav .nav-sections ul > li ul > li:has(img) {
    margin: var(--spacing-small) 0;
    padding: 0;
  }

  header nav[aria-expanded='true'] .nav-brand {
    display: none;
  }

  header nav .nav-sections ul > li.nav-drop {
    cursor: pointer;
  }

  header nav .nav-sections ul > li.nav-drop::before {
    content: '\276F';
    position: absolute;
    right: var(--spacing-xxsmall);
  }

  header nav .nav-sections ul > li.nav-drop ul {
    display: none;
    outline: none;
  }

  header nav .nav-sections ul > li.nav-drop .submenu-wrapper {
    display: none;
  }

  header nav .nav-sections ul > li.nav-drop.active .submenu-wrapper {
    background: var(--background-color);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  header nav .nav-sections ul > li.nav-drop.active ul {
    display: block;
    padding-bottom: var(--spacing-large);
  }

  header nav .nav-sections ul > li.nav-drop .submenu-header {
    background: var(--background-color);
    height: var(--spacing-large);
    left: 0;
    position: fixed;
    top: 0;
    width: 320px;
    z-index: 3;
  }

  header nav .nav-sections ul > li.nav-drop .submenu-header .back-link {
    font: var(--type-body-1-strong-font);
    height: 2.2em;
    letter-spacing: var(--type-body-1-strong-letter-spacing);
    line-height: 2.2em;
    padding: 0 var(--spacing-medium);
  }

  header nav .nav-sections ul > li.nav-drop .submenu-header hr {
    margin: 0;
    position: absolute;
    top: var(--spacing-large);
    width: 320px;
  }

  header nav .nav-sections ul > li .submenu-header .back-link::before {
    content: '\276E';
    margin-right: var(--spacing-xsmall);
  }

  header nav .nav-sections ul > li.nav-drop .submenu-title {
    font: var(--type-body-1-default-font);
    letter-spacing: var(--type-body-1-default-letter-spacing);
    margin-bottom: var(--spacing-small);
  }

  header nav .nav-sections ul li:empty {
    display: none;
  }
}
