/* block specific CSS goes here */

main {
    .hero-container {
        padding: 0;
        
        > div {
            max-width: unset;
        }
    }

    .hero {
        position: relative;
        padding: 32px;
        min-height: 300px;

        h1 {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            color: white;
        }

        picture {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            object-fit: cover;
            box-sizing: border-box;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
} 