.article-feed {
    h2 {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      padding: 32px 0 16px;
      margin: 0;
    }
  
    .article-feed-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    .article-feed-article {
      margin-bottom: 24px;
    }
  
    &.grid {
      max-width: var(--grid-container-width);
      margin: 0 auto;
  
      .article-feed-list {
        display: grid;
        gap: 12px;
      }
    }
  }
  
  .article-feed-article-image-link {
    display: block;
    position: relative;
    padding-bottom: 50%;
  
    picture {
      position: absolute;
      inset: 0;
    }
  
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  
  .article-feed-article-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 12px;
    color: #666;
    padding: 24px 24px 12px;
  }
  
  .article-feed-article-author-wrapper {
    display: flex;
    gap: 6px;
  }
  
  .article-feed-article-author::after {
    margin-left: 6px;
    content: "|";
  }
  
  .article-feed-article-author:last-child::after {
    display: none;
  }
  
  .article-feed-article-date {
    margin: 0;
  }
  
  a.article-feed-article-title-link {
    color: rgb(47 47 47);
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  .article-feed-article-title {
    margin: 0;
    font-size: 28px;
    font-weight: 400;
    padding: 0 24px 24px;
  }
  
  @media (width >= 600px) {
    .article-feed {
      &.grid {
        .article-feed-list {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  
    .split-template {
      .article-feed {
        &.grid {
          .article-feed-list {
            grid-template-columns: repeat(1, 1fr);
          }
  
          .article-feed-article-title {
            font-size: 18px;
          }
        }
      }
    }
  }