/* stylelint-disable comment-empty-line-before */
/* stylelint-disable no-descending-specificity, property-no-vendor-prefix */

main .section.product-list-page-custom-container > .default-content-wrapper h1:first-child {
  display: none;
}

.product-list-page-custom {
  display: flex !important;
  gap: 2rem;
}

.product-list-page-custom .facets {
  display: none;
  position: fixed;
  inset: var(--nav-height) 0 48px 0;
  z-index: 2;
  overflow: auto;
  background: var(--background-color);
  box-sizing: content-box;
  width: 300px;
  padding: 20px;
  transition: width 0.3s ease-in-out;
}

.product-list-page-custom .facets.active {
  display: block;
}

.product-list-page-custom .facets h2 {
  display: none;
}

.product-list-page-custom .facets .close,
.product-list-page-custom .products .title .sort > .overlay .close {
  display: block;
  background: url('../../icons/x-lg.svg') center/55%;
  background-repeat: no-repeat;
  font-size: 0;
  width: 4.4rem;
  height: 4.4rem;
  padding: 0;
  margin: 5px;
  border-radius: 0;
  margin-left: auto;
  border: 0;
}

.product-list-page-custom .products .title .sort > .overlay {
  display: none;
  position: fixed;
  inset: var(--nav-height) 0 48px 0;
  z-index: 2;
  overflow: auto;
  background: var(--background-color);
  background-color: rgb(0 0 0 / 70%) !important;
}

.product-list-page-custom .products .title .sort > .overlay.active {
  display: block;
}

.product-list-page-custom .products .title .sort .overlay ul {
  padding: 0 25px;
  margin: 0;
  list-style: none;
}

.product-list-page-custom .products .title .sort .overlay ul > li {
  padding: 5px 0;
}

.product-list-page-custom .products .title .sort .overlay ul > li a {
  color: var(--color-neutral-50);
  text-decoration: none;
}

.product-list-page-custom .products .title .sort .overlay ul > li a:hover {
  color: var(--color-neutral-50);
  text-decoration: underline;
}

.product-list-page-custom .facets .facet-list .facet {
  border-bottom: var(--shape-border-width-1) solid var(--color-neutral-900);
  padding: 20px;
}

.product-list-page-custom .facets .facet-list .facet:first-child {
  border-top: var(--shape-border-width-1) solid var(--color-neutral-900);
}

.product-list-page-custom .facets .facet-list .facet > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.product-list-page-custom .facets .facet-list .facet > label::after {
  display: inline-block;
  content: '';
  width: 15px;
  height: 15px;
  background: url('../../icons/rounded-triangle.svg') no-repeat center/contain;
  transition: all .2s ease;
}

.product-list-page-custom .facets .facet-list .facet .facet-content {
  transition: all .2s ease;
  overflow: hidden;
  padding: 0;
}

.product-list-page-custom .facets .facet-list .facet .facet-content ol {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-list-page-custom .facets .facet-list .facet .facet-content ol li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

.product-list-page-custom .facets .facet-list .facet .facet-content ol li label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 0;
  margin: 0;
  width: 100%;
}

.product-list-page-custom .facets .facet-list .facet .facet-content input[type="checkbox"],
.product-list-page-custom .facets .facet-list .facet .facet-content input[type="radio"] {
  margin: 0;
}

.product-list-page-custom .facets .facet-list .facet > input {
  display: none;
}

.product-list-page-custom .facets .facet-list .facet > input ~ .facet-content {
  max-height: 0;
}

.product-list-page-custom .facets .facet-list .facet > input:checked ~ .facet-content {
  max-height: 1000px;
}

.product-list-page-custom .facets .facet-list .facet > input:checked ~ label::after {
  transform: rotate(180deg);
}

/* Radio/Checkbox Facet */
.product-list-page-custom .facets .facet-list .facet.radio .facet-content ol li,
.product-list-page-custom .facets .facet-list .facet.checkbox .facet-content ol li {
  margin-bottom: 6px;
}

.product-list-page-custom .facets .facet-list .facet.radio .facet-content ol input[type='radio'] {
  vertical-align: middle;
  position: relative;
  bottom: 2px;
  margin: 3px;
}

.product-list-page-custom .facets .facet-list .facet.checkbox .facet-content ol input[type='checkbox'] {
  vertical-align: middle;
  margin: 3px;
}

.product-list-page-custom .facets .facet-list .facet.radio .facet-content ol label,
.product-list-page-custom .facets .facet-list .facet.checkbox .facet-content ol label {
  text-transform: none;
  letter-spacing: normal;
}

.product-list-page-custom .facets .facet-list .facet.radio .facet-content ol label .count,
.product-list-page-custom .facets .facet-list .facet.checkbox .facet-content ol label .count {
  text-transform: none;
}

.product-list-page-custom .facets .facet-list .facet.radio .facet-content ol label .count::before,
.product-list-page-custom .facets .facet-list .facet.checkbox .facet-content ol label .count::before {
  content: '(';
}

.product-list-page-custom .facets .facet-list .facet.radio .facet-content ol label .count::after,
.product-list-page-custom .facets .facet-list .facet.checkbox .facet-content ol label .count::after {
  content: ')'
}

/* Swatch Size Facet */

.product-list-page-custom .facets .facet-list .facet.swatch.facet-size .facet-content ol {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.product-list-page-custom .facets .facet-list .facet.swatch.facet-size .facet-content ol li button {
  border: 1px solid var(--color-brand-700);
  background: var(--color-neutral-50);
  color: var(--color-brand-700);
  border-radius: 3px;
  min-width: 60px;
  min-height: 38px;
  padding: 0 0 3px;
  margin: 0;
}

.product-list-page-custom .facets .facet-list .facet.swatch.facet-size .facet-content ol li button.active {
  background: var(--color-brand-700);
  color: var(--color-neutral-50);
}

/* Swatch Color Facet */

.product-list-page-custom .facets .facet-list .facet.swatch.facet-color .facet-content ol {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.product-list-page-custom .facets .facet-list .facet.swatch.facet-color .facet-content ol li button {
  color: transparent;
  border: 1px solid var(--color-brand-700);
  background-size: cover;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  padding: 0;
  margin: 0;
}

.product-list-page-custom .facets .facet-list .facet.swatch.facet-color .facet-content ol li button.active {
  box-shadow: 0 0 0 2px var(--color-neutral-50) inset;
  border-color: var(--color-neutral-600);
}

.product-list-page-custom .facets .facet-list .facet.swatch.facet-color .facet-content ol li button:hover {
  box-shadow: inset 0 0 0 18px rgb(255 255 255 / 20%);
}

.product-list-page-custom .facets .facet-list .facet.swatch.facet-color .facet-content ol li button.active:hover {
  box-shadow: inset 0 0 0 18px rgb(255 255 255 / 20%), 0 0 0 2px var(--color-neutral-50) inset;
}

/* Price Facet */

.product-list-page-custom .facets .facet-list .facet .price-facet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-list-page-custom .facets .facet-list .facet .price-facet .price-slider {
  width: 100%;
  display: grid;
  height: 15px;
  margin-bottom: 10px;
  flex-basis: 100%;
  position: relative;
  align-items: center;
}

.product-list-page-custom .facets .facet-list .facet .price-facet .price-slider::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--color-neutral-300);
  border-radius: 3px;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
  outline: none;
}

.product-list-page-custom .facets .facet-list .facet .price-facet .price-slider input[type='range'] {
  grid-area: 1 / 1 / 1 / 1;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  position: relative;
  margin: 0;
  outline: none;
  pointer-events: all;
  z-index: 2;
  height: 15px;
  transform: translateY(-3px);
  border: none;
}

/* Ensure min slider is on top but only for its thumb */
.product-list-page-custom .facets .facet-list .facet .price-facet .price-slider input[type='range']:first-of-type {
  z-index: 3;
}

.product-list-page-custom .facets .facet-list .facet .price-facet .price-slider input[type='range']:first-of-type::-webkit-slider-thumb {
  z-index: 3;
}

.product-list-page-custom .facets .facet-list .facet .price-facet .price-slider input[type='range']:first-of-type::-moz-range-thumb {
  z-index: 3;
}

/* Make the track area clickable for both sliders */
.product-list-page-custom .facets .facet-list .facet .price-facet .price-slider input[type='range']::-webkit-slider-runnable-track {
  background: transparent;
  height: 5px;
  outline: none;
  cursor: pointer;
}

.product-list-page-custom .facets .facet-list .facet .price-facet .price-slider input[type='range']::-moz-range-track {
  background: transparent;
  height: 5px;
  outline: none;
  cursor: pointer;
}

.product-list-page-custom .facets .facet-list .facet .price-facet .price-slider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--color-brand-700);
  cursor: pointer;
  margin-top: -3.75px;
  border: 2px solid var(--color-neutral-50);
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  position: relative;
  z-index: 2;
}

.product-list-page-custom .facets .facet-list .facet .price-facet .price-slider input[type='range']::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--color-brand-700);
  cursor: pointer;
  border: 2px solid var(--color-neutral-50);
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  position: relative;
  z-index: 2;
}

.product-list-page-custom .facets .facet-list .facet .price-facet .price-inputs {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.product-list-page-custom .facets .facet-list .facet .price-facet .price-inputs input {
  width: 80px;
  padding: 4px 8px;
  border: 1px solid var(--color-neutral-300);
  border-radius: 4px;
}

.product-list-page-custom .products {
  flex: 75;
  display: flex;
  gap: 25px;
  flex-direction: column;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
}

/* Category Title */
.product-list-page-custom .products .title {
  align-items: last baseline;
}

@media (width >= 900px) {
  .product-list-page-custom .products .title {
    display: flex;
    /* gap: 2rem; */
    align-items: last baseline;
  }
}

.product-list-page-custom .products .title h1 {
  margin: 0;
  padding: 0;
}

.product-list-page-custom .products .title h1 ~ span {
  display: none;
  margin-inline: 1rem 48px;
  white-space: nowrap;
}

/* sort by */
.product-list-page-custom .products .title .sort {
  display: block;
  margin-left: auto;
  min-width: 20rem;
}

.product-list-page-custom .products .title .sort > * {
  display: none;
}

.product-list-page-custom .products .title .sort > button {
  width: 100%;
  border: var(--shape-border-width-3) solid currentcolor;
  background: var(--color-neutral-50);
  color: var(--color-brand-700);
  padding: 16px;
  margin: 0;
}

.product-list-page-custom .products .mobile-menu {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.product-list-page-custom .products .mobile-menu > button {
  width: max-content;
  border: var(--shape-border-width-3) solid currentcolor;
  border-radius: var(--shape-border-radius-2);
  background: var(--color-neutral-50);
  color: var(--color-brand-700);
  line-height: 1;
  padding: .5rem 24px;
  margin: 0;
  min-width: 10rem;
}

.product-list-page-custom .products .list > .empty {
  text-align: center;
  padding: 25px 0;
}

.product-list-page-custom .products .list > ol {
  list-style-type: none;
  display: grid;
  margin: 0;
  padding: 0;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
}

.product-list-page-custom .products .list > ol > li {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.product-list-page-custom .products .list > ol > li .picture {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1.2;
  position: relative;
  overflow: hidden;
}

.product-list-page-custom .products .list > ol > li .picture a {
  display: grid;
  text-decoration: none;
}

.product-list-page-custom .products .list > ol > li .picture a:hover {
  text-decoration: none;
}

.product-list-page-custom .products .list > ol > li .picture picture {
  display: block;
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / 1 / 1;
}

.product-list-page-custom .products .list > ol > li .picture img {
  display: block;
  aspect-ratio: 1 / 1.20;
  width: 100%;
  object-fit: cover;
}

.product-list-page-custom .products .list > ol > li .disruptor {
  height: 0; /** Yes, this actually works and prohibits grid blowout **/
}

.product-list-page-custom .products .list > ol > li .disruptor img {
  display: block;
  width: 100%;
}

.product-list-page-custom .products .list > ol > li .name {
  line-height: 1;
}

.product-list-page-custom .products .list > ol > li .name a {
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
  display: inline-block;
  line-height: 1.3;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 6.1rem;
}

.product-list-page-custom .products .list > ol > li .name a:hover {
  color: var(--color-brand-700);
}

.product-list-page-custom .products .list > ol > li .price {
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
  height: 2.8rem;
  display: flex;
  align-items: baseline;
  gap: 0.3em;
}

.product-list-page-custom .products .list > ol > li .price .price-regular {
  font: var(--type-headline-2-default-font);
  letter-spacing: var(--type-headline-2-default-letter-spacing);
  text-decoration: line-through;
  color: var(--color-neutral-600);
}

.product-list-page-custom .products .list > ol > li .price .price-range {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.product-list-page-custom .products .list > ol > li .price .price-range .price-from:first-child::after {
  content: "-";
  padding: 0 8px;
}

.product-list-page-custom .products .list > ol > li .price .price-range .price-regular {
  margin-left: 6.4px;
}

@media (width >= 600px) {
  .product-list-page-custom .products .list > ol > li .price .price-range .price-regular {
    margin-left: 9.6rem;
  }
}

.product-list-page-custom .products > div:last-child {
  margin-top: auto;
}

.product-list-page-custom .products .pagination {
  display: flex;
  height: 3.6rem;
  justify-content: space-between;
  padding-bottom: 3rem;
}

@media (width >= 1024px) {
  .product-list-page-custom .products .pagination {
    padding-top: 3rem;
  }
}

.product-list-page-custom .products .pagination > div:nth-child(2) {
  display: none;
}

.product-list-page-custom .products .pagination select#select-page {
  padding: 0 2.5rem 2px 1rem;
}

.product-list-page-custom .products .pagination select#select-pagesize {
  width: 9rem;
  padding: 0 0 0 0.2rem;
}

.product-list-page-custom .products .pagination button {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0 0 0 32px;
  color: var(--color-brand-700);
  border-radius: 0;
}

.product-list-page-custom .products .pagination button.previous::before,
.product-list-page-custom .products .pagination button.next::after {
  display: inline-block;
  content: '';
  width: 12px;
  height: 12px;
  background: url('../../icons/rounded-triangle.svg') no-repeat center/contain;
  transform: rotate(90deg);
  margin-right: 8px;
}

.product-list-page-custom .products .pagination button.next::after {
  background: url('../../icons/rounded-triangle.svg') no-repeat center/contain;
  transform: rotate(270deg);
  margin-right: 0;
  margin-left: 8px;
}

@media (width >= 900px) {
  .product-list-page-custom {
    display: flex;
  }

  main .section > div.product-list-page-custom-wrapper {
    max-width: 1920px;
  }

  .product-list-page-custom .facets {
    display: block;
    max-width: 430px;
    background: var(--color-neutral-200);
    padding: 20px 30px;
    position: unset;
    z-index: unset;
    overflow: unset;
  }

  .product-list-page-custom .facets .close {
    display: none;
  }

  .product-list-page-custom .facets h2 {
    display: block;
    margin: 0;
    padding: 20px 5px;
  }

  .product-list-page-custom .facets .facet-list .facet {
    padding: 20px 0;
  }

  .product-list-page-custom .products {
    gap: 10px;
  }

  .product-list-page-custom .products .mobile-menu {
    display: none;
  }

  .product-list-page-custom .products .list > ol {
    grid-template-columns: repeat(4, 1fr);
  }

  .product-list-page-custom .products .list > ol > li .picture:hover button {
    display: block;
  }

  .product-list-page-custom .products .pagination > div:nth-child(2) {
    display: block;
  }

  .product-list-page-custom .products .title h1 ~ span {
    display: inline;
  }

  .product-list-page-custom .products .title .sort {
    position: relative;
  }

  .product-list-page-custom .products .title .sort > * {
    display: unset;
  }

  .product-list-page-custom .products .title .sort > button::after {
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background: url('../../icons/rounded-triangle.svg') no-repeat center/contain;
    transition: all .2s ease;
  }

  .product-list-page-custom .products .title .sort:not([disabled]):hover > button::after {
    transform: rotate(180deg);
  }

  .product-list-page-custom .products .title .sort:not([disabled]):hover > .overlay {
    display: block;
  }

  .product-list-page-custom .products .title .sort > .overlay {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 2;
    box-shadow: 0 36px 51px 0 rgb(0 0 0 / 30%);
    border-radius: 6px;
    left: unset;
    top: unset;
    bottom: unset;
    overflow: unset;
  }

  .product-list-page-custom .products .title .sort .overlay .close {
    display: none;
  }

  .product-list-page-custom .products .title .sort > .overlay.active {
    display: none;
  }

  .product-list-page-custom .products .title .sort .overlay ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .product-list-page-custom .products .title .sort .overlay ul > li {
    padding: 10px 20px;
    text-align: right;
  }
}

.product-list-page-custom .shimmer {
  background: var(--color-neutral-500);
  border-radius: 4px;
}

.product-list-page-custom .shimmer-text {
  border-radius: 8px;
  min-height: 1.5rem;
  margin-bottom: 4px;
}

.product-list-page-custom .facets .facet-list .facet .facet-content ol ul.list {
  padding-left: 0;
  margin: 0;
}

.facets.empty {
  width: 0;
  padding: 0;
  overflow: hidden;
}

/* When facets are empty, adjust products margin */
.facets.empty + .products {
  margin-left: 0;
}

/* Mobile styles */
@media (width <= 900px) {
  .facets {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: var(--background-color);
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .facets.active {
    transform: translateX(0);
  }

  .facets.empty {
    width: 300px;
    transform: translateX(-100%);
  }

  .products {
    margin-left: 0;
  }
}
