/* stylelint-disable comment-empty-line-before */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.product-details-custom {
  display: grid !important;
  grid-template: 'product-title' 'carousel';
}

.product-details-custom > div.full-height {
  height: 100vh;
}

.product-details-custom > *:not(.product-detail-carousel) {
  padding: 8px 25px 25px;
}

.product-details-custom .product-detail-description {
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
}

.product-details-custom .product-detail-description h3 {
  margin: 0 0 16px;
}

.product-details-custom .product-detail-description ul {
  margin: 1.6rem 0;
  padding: 0 0 0 38px;
}

.product-details-custom .product-detail-description ul li {
  margin: 0 0 16px;
}

.product-details-custom .product-title h1 {
  font: var(--type-headline-1-font);
  letter-spacing: var(--type-headline-1-letter-spacing);
  margin: 0 0 16px;
}

.product-details-custom .sidebar-section {
  border-bottom: 1px solid #c2c2c2;
  padding: 0 0 2rem;
  margin: 0 0 2rem;
}

.product-details-custom .sidebar-section:last-child {
  margin: 0;
}

.product-details-custom .sidebar-section .social-links {
  margin: 2rem 0 0;
  display: grid;
  justify-content: center;
  text-align: center;
  gap:16px 0;
  grid-template: 'favorites favorites' 'email help' /1fr 1fr;
}

.product-details-custom .sidebar-section .social-links .favorites {
  grid-area: favorites;
}

.product-details-custom .sidebar-section .social-links .email {
  grid-area: email;
}

.product-details-custom .sidebar-section .social-links .help {
  grid-area: help;
}

.product-details-custom .product-title .price {
  display: flex;
  flex-direction: column;
}

.product-details-custom .sidebar-section h4 {
  margin: 0;
}

.product-details-custom .sidebar-section.quantity-select {
  display: flex;
  gap: 25px;
  align-items: center;
}

.product-details-custom .sidebar-section.cart button {
  max-width: 100%;
}

.product-details-custom .product-title .price .price-regular {
  font: var(--type-headline-2-default-font);
  letter-spacing: var(--type-headline-2-default-letter-spacing);
  color: var(--color-neutral-600);
  text-decoration: line-through;
  order: -1;
}

.product-details-custom .product-title .price .price-range {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.product-details-custom .product-title .price .price-range .price-regular {
  flex: 0 1 100%;
  order: -1;
}

.product-details-custom .product-title .price .price-range .price-from {
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

.product-details-custom .product-title .price .price-range .price-from:first-child::after {
  content: "-";
  padding: 0 8px;
}

.product-details-custom .product-title .price .price-final {
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

.product-details-custom .product-title .style-id {
  font: var(--type-headline-2-default-font);
  letter-spacing: var(--type-headline-2-default-letter-spacing);
  text-align: right;
}

.product-details-custom .product-title.desktop-hidden {
  grid-area: product-title;
  display: grid;
  grid-template: 'title title' 'price style';
  align-items: flex-end;
}

.product-details-custom .product-title.desktop-hidden h1 {
  grid-area: title;
}

.product-details-custom .product-title.desktop-hidden .price {
  grid-area: price;
}

.product-details-custom .product-title.desktop-hidden .style-id {
  grid-area: style;
}

.product-details-custom .mobile-hidden {
  display: none;
}

.product-details-custom .swatches .swatch-spacer {
  width: 64px;
}

.product-details-custom .sidebar .sidebar-section.color-selector {
  padding-bottom: 80px;
}

.product-details-custom .sidebar .sidebar-section.color-selector button {
  font-size: 0;
}

.product-details-custom .selected-color {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 34rem;
}

.product-details-custom .swatches {
  will-change: height;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 12px 0 0;
}

.product-details-custom .swatches li {
  display: flex;
}

.product-details-custom .swatch>button {
  width: 36px;
  height: 36px;
  background-size: initial;
  border-radius: var(--shape-border-radius-3);
  border: var(--shape-border-width-3) solid var(--color-neutral-50);
  display: inline;
  margin: 0;
  padding: 0;
  outline: var(--shape-border-width-1) solid var(--color-neutral-300);
}

.product-details-custom .swatch>button[aria-selected="true"] {
  outline: var(--shape-border-width-2) solid var(--color-neutral-900);
}

.product-details-custom .swatch>button[disabled] {
  cursor: not-allowed;
  color: var(--color-neutral-500);
}

.product-details-custom .cart .secondary-action {
  margin: 1.6rem auto;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.product-details-custom .cart .secondary-action svg {
  width: 22px;
  height: 22px;
  fill: currentcolor;
  stroke: currentcolor;
}

.product-details-custom .cart .cart-button {
  margin: 1.6rem auto;
  display: block;
}

.product-details-custom .product-detail-carousel {
  position: relative;
  overflow: hidden;
}

.product-details-custom .product-detail-carousel .carousel-stage-wrapper {
  display: grid;
  overflow: hidden;
  min-width: 100%;
}

.product-details-custom picture.shimmer img {
  visibility: hidden;
}

.product-details-custom picture.shimmer {
  display: block;
  max-width: 700px;
  margin: auto;
}

.product-details-custom .product-detail-carousel .carousel-stage-wrapper img {
  aspect-ratio: 800 / 1014;
  width: 100vw;
  height: auto;
  object-fit: contain;
  display: block;
  margin: auto;
}

.product-details-custom .product-detail-carousel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-details-custom .sizes-selector h4 {
  display: inline-block;
  margin: 0;
}

.product-details-custom .sizes-selector span {
  float: right;
  margin-top: 1.4rem;
}

.product-details-custom .sizes-selector ul {
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  padding: 0;
  gap: 12px;
  margin: 32px 0 16px;
}

.product-details-custom .sizes-selector ul li button {
  background: none;
  margin: 0;
  padding: 10px;
  color: var(--color-brand-700);
  border-radius: 4px;
  border: var(--shape-border-width-3) solid var(--color-neutral-500);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: auto;
  height: auto;
}

.product-details-custom .sizes-selector ul li button[aria-selected="true"],
.product-details-custom .sizes-selector ul li button:hover,
.product-details-custom .sizes-selector ul li button:focus {
  border-color: var(--color-brand-500);
  background-color: var(--color-neutral-50);
  text-decoration: none;
}

.product-details-custom .sizes-selector ul li button[disabled] {
  cursor: not-allowed;
  color: var(--color-neutral-500);
}

.product-details-custom .product-detail-carousel .carousel-thumbnails-wrapper {
  display: none;
}

.product-details-custom .product-detail-carousel .carousel-stage {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  transition: transform 200ms;
  min-width: 100%;
}

.product-details-custom .product-detail-carousel .carousel-stage li {
  width: 100%;
  flex-shrink: 0;
}

.product-details-custom .sidebar .variant-selection span:nth-child(2) {
  text-transform: none;
}

.product-details-custom .product-detail-carousel .main-controls {
  grid-area: 1 / 1 / 1 / 1;
  z-index: 2;
  position: absolute;
  right: 40px;
  left: 40px;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details-custom .product-detail-carousel .carousel-thumbnails>li {
  cursor: pointer;
}

.product-details-custom .product-detail-carousel div:is(.main-controls, .thumbnail-controls) button {
  color: black;
  padding: 0;
  margin: 0;
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-details-custom .title-shimmer .heading-shimmer {
  height: 19.8px;
  width: 100%;
  max-width: 500px;
  margin-top: 18px;
  margin-bottom: 9px;
}

.product-details-custom .title-shimmer .price-shimmer {
  height: 72px;
  width: 25%;
}

.product-details-custom .title-shimmer {
  height: calc(165px - 2 * 18px);
  width: calc(100% - 32px);
  box-sizing: border-box;
  display: block;
  margin: 18px 16px;
}

.product-details-custom .detail-shimmer {
  height: 500px;
  width: 60%;
  margin-top: 28px;
}

.product-details-custom .shimmer {
  background-color: #f8f8f8;
}

.product-details-custom .sidebar.shimmer {
  min-height: 800px;
  margin-top: 34px;
  margin-left: 32px;
  margin-right: 32px;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

@media (width >= 600px) {
  .product-details-custom > *:not(.product-detail-carousel) {
    padding: 0 32px;
  }

  .product-details-custom .product-detail-carousel .carousel-stage-wrapper img {
    aspect-ratio: 700 / 888;
    width: auto;
  }

  .product-details-custom .product-detail-carousel {
    margin: 25px 0;
  }
}

@media (width >= 1024px) {
  .product-details-custom .product-title .style-id {
    text-align: right;
    position: absolute;
    right: 25px;
    bottom: 25px;
  }

  .product-details-custom .sidebar.shimmer {
    margin: 0;
    border: none;
  }

  .product-details-custom {
    display: grid;
    grid-template-columns: auto 30%;
    grid-auto-flow: column;
  }

  .product-details-custom > *:not(.product-detail-carousel) {
    padding: 0;
  }

  .product-details-custom .product-detail-carousel .carousel-stage>li {
    display: flex;
    justify-content: center;
  }

  .product-details-custom .product-detail-carousel .main-controls {
    left: 80px;
    right: 80px;
  }

  .product-details-custom .mobile-hidden {
    display: block;
  }

  .product-details-custom .product-title.desktop-hidden {
    display: none;
  }

  .product-details-custom .sidebar {
    grid-column: 2;
    grid-row: 1 / 3;
    border: 1px solid #c2c2c2;
    height: max-content;
  }

  .product-details-custom .sidebar .sidebar-section {
    padding: 25px;
    margin: 0;
    position: relative;
  }

  .product-details-custom .product-detail-description {
    grid-column: 1;
    padding-left: 10px;
  }

  .product-details-custom .product-detail-carousel {
    display: flex;
    grid-column: 1;
  }

  .product-details-custom .sidebar h4 {
    margin-bottom: 0;
  }

  .product-details-custom .sizes-selector span {
    margin: 0;
  }
}

/* Full desktop product page */
@media (width >= 1280px) {
  :root {
    --carousel-control-height: 30px;
    --pdp-max-width: 1400px;
  }

  .product-details-custom-wrapper {
    max-width: var(--pdp-max-width) !important;
  }

  .product-details-custom .product-detail-carousel {
    overflow: hidden;
    height: 888px;
  }

  .product-details-custom .product-detail-carousel .carousel-stage-wrapper {
    margin-left: 27%;
    position: relative;
    height: 888px;
    min-width: unset;
  }

  .product-details-custom .product-detail-carousel .carousel-thumbnails {
    display: flex;
    flex-direction: column;
    transition: transform 200ms;
    gap: 20px;
  }

  .product-details-custom .product-detail-carousel .thumbnail-controls {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    pointer-events: none;
  }

  .product-details-custom .product-detail-carousel div.thumbnail-controls button {
    width: 100%;
    border-radius: 0;
    height: var(--carousel-control-height);
    pointer-events: all;
  }

  .product-details-custom .product-detail-carousel .carousel-thumbnails-wrapper {
    display: initial;
    padding-top: var(--carousel-control-height);
    position: absolute;
    left: 0;
    z-index: 1;
    background: white;
    height: calc(100% - var(--carousel-control-height));
  }

  .product-details-custom .product-detail-carousel .carousel-thumbnails img {
    aspect-ratio: 247/313;
    width: 247px;
    height: 313px;
  }

  .product-details-custom .product-detail-carousel .carousel-thumbnails picture {
    display: block;
  }
}
