.sampleblock {
  background: #b56565;
  color: hsla(0, 0%, 13%, 1);
  padding: 6px;
  font-size: 15px;
  text-align: left;
  bottom: 0;
  z-index: 10;
  position: absolute;
  width: 550px;
  height: 158px;
  left: 385px;
  top: 3323px;
  border-radius: 7px;
}
.accept {
  padding: 10px 20px;
  background-color: #1a625c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 60px;
  gap: 10px;

  position: absolute;

  background: #000000;
  border-radius: 2px;

  margin-right: 10px; /* Adjust spacing between buttons */
}


.accept:hover {
  background-color: #367ebd;
}
.decline {
  padding: 10px 20px;
  background-color: #1a625c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px; /* Adjust spacing between buttons */
}

.decline:hover {
  background-color: #367ebd;
}