.sampleblock {
  background: #b56565;
  color: hsla(0, 0%, 13%, 1);
  padding: 6px;
  font-size: 15px;
  text-align: left;
  bottom: 0;
  z-index: 10;
  position: absolute;
  width: 550px;
  height: 195px;
  left: 390px;
  top: 3271px;
}
.buttons {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px; /* Adjust spacing between buttons */
}

.buttons:hover {
  background-color: #45a049;
}

/* Container styles */
.button-container {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center align buttons */
  margin-top: 20px; /* Add margin to top */
}