/* Rectangle 22234
.sampleBlock {
position: absolute;
width: 627px;
height: 332px;
left: 840px;
top: 3205px;

background: #FFFFFF;
} */

.sampleblock {
    background: #FFFFFF;
    color: hsla(0, 0%, 13%, 1);
    padding: 6px;
    font-size: 14px;
    text-align: left;
    bottom: 0;
    z-index: 10;
    position: absolute;
    width: 550px;
    height: 195px;
    left: 390px;
    top: 3271px;
  }
  
  .button {
    /* APPLY NOW CTA */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 60px;
gap: 10px;

position: absolute;
width: 164px;
height: 36px;
left: 892px;
top: 3435px;

border: 1px solid #000000;
border-radius: 2px;

  }
  
  .button button:hover {
    background: #fff;
    color: #222;
  }