/* stylelint-disable no-empty-source */
.fragment-wrapper > .section > .default-content-wrapper {
  display: inline-flex;
  text-align: center;
  align-items: center;
}

.fragment-wrapper .icon-xbox_logo{
    padding-right: 30px;
}

.fragment-wrapper > .section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0;
}

.fragment-wrapper > .section > .default-content-wrapper > p{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fragment-wrapper > .section > .default-content-wrapper > .button-container {
    display: inline-block;
}

.fragment-wrapper > .section > .default-content-wrapper > .button-container > a {
  background-color: #107C10;
  border: 0;
  padding: 16px 24px;
}

.icon-xbox-game-pass-white{
    width: 175px;
    height: auto;
}

.fragment-wrapper > .section > .default-content-wrapper > .button-container > a > sup{
    font-size: 1rem;
  }

@media screen and (max-width: 900px) {
    .fragment-wrapper > .section > .default-content-wrapper {
        display: block;
        text-align: center;
      }
      .fragment-wrapper .icon-xbox-game-pass-white{
        width: 200px;
        height: auto;
        justify-content: center;
    }
    .fragment-wrapper > .section > .default-content-wrapper > p{
        align-items: center;
        display: grid;
        justify-content: center;
    }
}