/* stylelint-disable selector-class-pattern */

.commerce-cart {
  padding: var(--spacing-large) 0;
  position: relative;
}

.cart__notification {
  width: 100%;
  max-width: 96%;
  margin-bottom: var(--spacing-small);
}

.cart__notification:empty {
  display: none;
}

.cart__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--grid-4-gutters);
}

.cart__wrapper[hidden],
.cart__empty-cart[hidden] {
  display: none;
}

.cart__gift-options{
  margin-top: var(--spacing-medium);
}

.cart-item-edit-container {
  margin-top: var(--spacing-xsmall);
  margin-bottom: var(--spacing-xsmall);
}

.cart-item-edit-link {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font: var(--type-body-2-default-font);
}

.cart-item-edit-link:hover {
  text-decoration: underline;
}

.cart-item-edit-link::before {
  content: '';
  display: inline-block;
  width: var(--spacing-small);
  height: var(--spacing-small);
  margin-right: var(--spacing-xxsmall);
  background-image: url('../../icons/edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cart__notification .dropin-in-line-alert {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: var(--shape-border-radius-2);
  overflow: hidden;
}

.cart__notification .dropin-in-line-alert__content {
  display: flex;
  align-items: center;
}

.cart__notification .dropin-in-line-alert svg {
  margin-right: var(--spacing-xsmall);
}

.cart__notification .dropin-in-line-alert__actions-container {
  position: absolute;
  right: var(--spacing-xxsmall);
  top: 50%;
  transform: translateY(-50%);
}

.cart__notification .dropin-in-line-alert button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.commerce-cart .cart__action--wishlist-toggle {
    grid-column: 5;
    grid-row: 5;
}

@media (width >= 768px) {
  .cart__wrapper {
    flex-direction: row;
    position: relative;
    width: 100%;
  }

  .cart__left-column {
    flex: 1;
    flex-basis: 70%;
  }

  .cart__right-column {
    flex: 1;
    flex-basis: auto;
  }

  .commerce-cart .cart__action--wishlist-toggle {
    grid-column: 13;
    grid-row: 5;
  }
}

