.commerce-cart {
  padding: var(--spacing-large) 0;
  position: relative;
}

.cart__notification {
  width: 100%;
  max-width: 96%;
  margin-bottom: var(--spacing-small);
}

.cart__notification:empty {
  display: none;
}

.cart__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--grid-4-gutters);
}

.cart__wrapper[hidden],
.cart__empty-cart[hidden] {
  display: none;
}

.cart__gift-options{
  margin-top: var(--spacing-medium);
}

.dropin-cart-item__footer {
  margin-top: var(--spacing-xsmall);
  gap: var(--spacing-xsmall);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-edit-link .dropin-button,
.cart__action--wishlist-toggle .dropin-button {
  padding: 0;
  font: var(--type-body-1-strong-font);
  letter-spacing: var(--type-body-1-strong-letter-spacing);
  font-weight: 600;
  display: inline-flex;
}

.cart__notification .dropin-in-line-alert {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: var(--shape-border-radius-2);
  overflow: hidden;
}

.cart__notification .dropin-in-line-alert__content {
  display: flex;
  align-items: center;
}

.cart__notification .dropin-in-line-alert svg {
  margin-right: var(--spacing-xsmall);
}

.cart__notification .dropin-in-line-alert__actions-container {
  position: absolute;
  right: var(--spacing-xxsmall);
  top: 50%;
  transform: translateY(-50%);
}

.cart__notification .dropin-in-line-alert button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropin-cart-item__quantity {
    width: fit-content;
}

@media (min-width: 768px) {
  .cart__wrapper {
    flex-direction: row;
    position: relative;
    width: 100%;
  }

  .cart__left-column {
    flex: 1;
    flex-basis: 70%;
  }

  .cart__right-column {
    flex: 1;
    flex-basis: auto;
  }
}

