.table {
  width: 100%;
  overflow-x: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}

@media (width >= 600px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
}

.table table thead tr {
  border-top: 2px solid #dadada;
  border-bottom: 2px solid #dadada;
}

.table table tbody tr {
  border-bottom: 1px solid #dadada;
}

.table table th {
  font-weight: 700;
}

.table table th,
.table table td {
  padding: 0.5em;
  text-align: left;
}

.table table th p,
.table table td p {
  margin: 0;
}

.table table td img {
  max-width: 65px;
}

.table table td p + p {
  margin-top: 0.25em;
}

/* no header variant */
.table.no-header table tbody tr {
  border-top: 1px solid #dadada;
}

/* striped variant */
.table.striped tbody tr:nth-child(odd) {
  background-color: var(--light-color);
}

/* striped variant with cod */
.table.cod.striped tbody tr:nth-child(even) {
  background-color: var(--cod-table-rows-even);
}

.table.cod.striped tbody tr:nth-child(odd) {
  background-color: var(--cod-table-rows-odd);
}

/* bordered variant */
.table.bordered table th,
.table.bordered table td {
  border: 1px solid #dadada;
}

/* Default Table Styling */
.table {
  border-collapse: collapse;
  width: 100%;
}

.table h1,h2.h3,h4,h5,h6{
  font-family: "Hitmarker Condensed Black", Arial;
  margin: 0;
}

/* Single column row styling */
.table table tbody tr.single-column-row {
  background-color: inherit;
  text-align: center;
}

.table tbody strong{
  font-family: "Hitmarker Text Bold";
  font-weight: 700;
  text-transform: uppercase;
}

.table tbody{
  font-size: 0.88rem;
  border: none;
}

/* COD variant */
.table.cod {
  background: #24272A;
  color: #fff;
  border: 1px solid #FF851B;
}

.table.cod thead{
  position: relative;
  background: url(../img/ScreenStripeTexture_1x4.png) 0% 0% / 4px 2px repeat, #1b1b1b;
  color: #F3F4F5;
  min-height: 44px;
}

.table.cod thead::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #FF851B80 0%, #FF851B80 100%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35), 0px 0px 24px 0px #FF851B inset;
}

.table.cod thead tr {
  font-family: "Hitmarker Condensed Black", Arial;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  position: relative;
  color: #fff;
  border: none;
}

.table.cod table tbody tr.single-column-row {
  background: #3C4147;
  text-align: center;
  color: #fff;
  border: none;
}

.table.cod table tbody tr{
  border: none;
}


/* BO6 variant */
.table.bo6 {
  background: #24272A;
  color: #fff;
  border: 1px solid #FF851B;
}

.table.bo6 thead{
  position: relative;
  background: url(../img/ScreenStripeTexture_1x4.png) 0% 0% / 4px 2px repeat, #1b1b1b;
  color: #F3F4F5;
  min-height: 44px;
}

.table.bo6 thead::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #FF851B80 0%, #FF851B80 100%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35), 0px 0px 24px 0px #FF851B inset;
}

.table.bo6 thead tr{
  font-family: "Hitmarker Condensed Black", Arial;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  position: relative;
  color: #fff;
  border: none;
}

.table.bo6 table tbody tr.single-column-row {
  background: #3C4147;
  text-align: center;
  color: #fff;
  border: none;
}

.table.bo6 table tbody tr{
  border: none;
}

/* Warzone Mobile variant */
.table.warzone-mobile {
  background-color: #2e3a4f;
  color: #ffffff;
  font-weight: bold;
}

.table.warzone-mobile {
  background: #24272A;
  color: #fff;
  border: 1px solid #ff0000;
}

.table.warzone-mobile thead{
  position: relative;
  background: url(../img/ScreenStripeTexture_1x4.png) 0% 0% / 4px 2px repeat, #1b1b1b;
  color: #F3F4F5;
  min-height: 44px;
}

.table.warzone-mobile thead::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #ff000080 0%, #ff000080 100%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35), 0px 0px 24px 0px #ff0000 inset;
}

.table.warzone-mobile thead tr{
  font-family: "Hitmarker Condensed Black", Arial;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  position: relative;
  color: #fff;
  border: none;
}

.table.warzone-mobile table tbody tr.single-column-row {
  background: #3C4147;
  text-align: center;
  color: #fff;
  border: none;
}

.table.warzone-mobile table tbody tr{
  border: none;
}

/* Warzone variant */
.table.warzone {
  background-color: #2e3a4f;
  color: #ffffff;
  font-weight: bold;
}

.table.warzone {
  background: #24272A;
  color: #fff;
  border: 1px solid #f96800;
}

.table.warzone thead{
  position: relative;
  background: url(../img/ScreenStripeTexture_1x4.png) 0% 0% / 4px 2px repeat, #1b1b1b;
  color: #F3F4F5;
  min-height: 44px;
}

.table.warzone thead::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #f9680080 0%, #f9680080 100%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35), 0px 0px 24px 0px #f96800 inset;
}

.table.warzone thead tr{
  font-family: "Hitmarker Condensed Black", Arial;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  position: relative;
  color: #fff;
  border: none;
}

.table.warzone table tbody tr.single-column-row {
  background: #3C4147;
  text-align: center;
  color: #fff;
  border: none;
}

.table.warzone table tbody tr{
  border: none;
}

/* COD Mobile */
.table.cod-mobile {
  background-color: #000;
  color: #ffff03;
  font-size: 1rem;
}

.table.cod-mobile {
  background: #24272A;
  color: #fff;
  border: 1px solid #ffff03;
}

.table.cod-mobile thead{
  position: relative;
  background: url(../img/ScreenStripeTexture_1x4.png) 0% 0% / 4px 2px repeat, #1b1b1b;
  color: #F3F4F5;
  min-height: 44px;
}

.table.cod-mobile thead::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #ffff0380 0%, #ffff0380 100%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35), 0px 0px 24px 0px #ffff03 inset;
}

.table.cod-mobile thead tr{
  font-family: "Hitmarker Condensed Black", Arial;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  position: relative;
  color: #fff;
  border: none;
}

.table.cod-mobile table tbody tr.single-column-row {
  background: #3C4147;
  text-align: center;
  color: #fff;
  border: none;
}

.table.cod-mobile table tbody tr{
  border: none;
}

/* Table Blue */
.table.blue {
  background-color: #000;
  color: #3ECCED;
  font-size: 1rem;
}

.table.blue {
  background: #24272A;
  color: #fff;
  border: 1px solid #3ECCED;
}

.table.blue thead{
  position: relative;
  background: url(../img/ScreenStripeTexture_1x4.png) 0% 0% / 4px 2px repeat, #1b1b1b;
  color: #F3F4F5;
  min-height: 44px;
}

.table.blue thead::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #3ECCED80 0%, #3ECCED80 100%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35), 0px 0px 24px 0px #3ECCED inset;
}

.table.blue thead tr{
  font-family: "Hitmarker Condensed Black", Arial;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  position: relative;
  color: #fff;
  border: none;
}

.table.blue table tbody tr.single-column-row {
  background: #3C4147;
  text-align: center;
  color: #fff;
  border: none;
}

.table.blue table tbody tr{
  border: none;
}
