* {
  box-sizing: border-box;
}

.admin-panel {
  display: flex;
  align-items: flex-start;
}

.admin-panel .sidebar {
  width: 300px;
  background-color: #e0e0e06b;
  padding: 10px;
}

.admin-panel .logo {
  padding: 10px;
  text-align: center;
}

.admin-panel .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.admin-panel .menu ul:last-child {
  border: none;
}

.admin-panel .menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.admin-panel .content {
  padding: 20px;
  flex-grow: 1;
  border-left: 1px solid #e0e0e06b;
}

.admin-panel h2 {
  margin-top: 0;
}

.admin-panel h4 {
  padding-bottom: 0.5em;
  border-bottom: 1px solid lightgray;
}

.admin-panel address {
  margin-bottom: 1em;
}

.orders-list {
  list-style: none;
  padding: 0;
}

.orders-list li {
  display: flex;
  gap: 0 10px;
  margin: 10px;
}
