footer {
    background-color: var(--color-neutral-100);
    font: var(--type-body-2-default-font);
    letter-spacing: var(--type-body-2-default-letter-spacing);
}

footer .footer > div {
    margin: auto;
    max-width: 1200px;
    padding: 40px 24px 24px;
}

footer .footer p {
    margin: 0;
}

.storeview-modal-storeview-list ul {
    list-style: none;
    padding: 0;
}

.storeview-modal-storeview-list li {
    padding-left: 1em;
    list-style-image: url("../../icons/chevron-right.svg");
    text-indent: -1em;
}

storeview-modal-storeview-list li > ul > li {
    padding-left: 20px;
}

.storeview-modal-storeview-list li > ul > li::before {
    padding-right: 10px;
}

@media (width >= 900px) {
    footer .footer > div {
        padding: 40px 32px 24px;
    }
}
