footer {
    margin-top: 2rem;
    background-color: rgba(var(--text-color),.2);
}

footer .footer {
    padding: 2rem 0;
    max-width: 768px;
    margin: auto;
}

footer .footer p {
    margin: 0;
}