/* stylelint-disable comment-empty-line-before */
/* stylelint-disable no-descending-specificity, property-no-vendor-prefix */

main .section.product-list-page-container > .default-content-wrapper h1:first-child {
  display: none;
}

.product-list-page {
  display: flex !important;
  gap: 2rem;
}

.product-list-page .facets {
  display: none;
  position: fixed;
  top: var(--nav-height);
  left: 0;
  right: 0;
  bottom: 48px;
  z-index: 2;
  overflow: auto;
  background: var(--background-color);
  box-sizing: content-box;
}

.product-list-page .facets.active {
  display: block;
}

.product-list-page .facets h2 {
  display: none;
}

.product-list-page .facets .close,
.product-list-page .products .title .sort > .overlay .close {
  display: block;
  background: url('../../icons/x-lg.svg') center/55%;
  background-repeat: no-repeat;
  font-size: 0;
  width: 4.4rem;
  height: 4.4rem;
  padding: 0;
  margin: 5px;
  border-radius: 0;
  margin-left: auto;
  border: 0;
}

.product-list-page .products .title .sort > .overlay {
  display: none;
  position: fixed;
  top: var(--nav-height);
  left: 0;
  right: 0;
  bottom: 48px;
  z-index: 2;
  overflow: auto;
  background: var(--background-color);
  font-size: 1.6rem;
}

.product-list-page .products .title .sort > .overlay.active {
  display: block;
}

.product-list-page .products .title .sort .overlay ul {
  padding: 0 25px;
  margin: 0;
  list-style: none;
}

.product-list-page .products .title .sort .overlay ul > li {
  padding: 5px 0;
}

.product-list-page .products .title .sort .overlay a {
  color: var(--text-color);
  text-decoration: none;
}

.product-list-page .products .title .sort .overlay a:hover,
.product-list-page .products .title .sort .overlay a.active {
  text-decoration: none;
}

.product-list-page .facets .facet-list .facet {
  border-bottom: 1px solid #000;
  font-size: 1.6rem;
  padding: 20px;
  text-transform: uppercase;
}

.product-list-page .facets .facet-list .facet:first-child {
  border-top: 1px solid #000;
}

.product-list-page .facets .facet-list .facet > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.product-list-page .facets .facet-list .facet > label::after {
  display: inline-block;
  content: '';
  width: 15px;
  height: 15px;
  background: url('../../icons/rounded-triangle.svg') no-repeat center/contain;
  transition: all .2s ease;
}

.product-list-page .facets .facet-list .facet .facet-content {
  transition: all .2s ease;
  overflow: hidden;
  padding-top: 6px;
}

.product-list-page .facets .facet-list .facet .facet-content ol {
  list-style-type: none;
  margin: 0;
  padding: 16px 0 0;
}

.product-list-page .facets .facet-list .facet > input {
  display: none;
}

.product-list-page .facets .facet-list .facet > input ~ .facet-content {
  max-height: 0;
}

.product-list-page .facets .facet-list .facet > input:checked ~ .facet-content {
  max-height: 1000px;
}

.product-list-page .facets .facet-list .facet > input:checked ~ label::after {
  transform: rotate(180deg);
}

/* Radio/Checkbox Facet */
.product-list-page .facets .facet-list .facet.radio .facet-content ol li,
.product-list-page .facets .facet-list .facet.checkbox .facet-content ol li {
  margin-bottom: 6px;
}

.product-list-page .facets .facet-list .facet.radio .facet-content ol input[type='radio'] {
  vertical-align: middle;
  position: relative;
  bottom: 2px;
  margin: 3px;
}

.product-list-page .facets .facet-list .facet.checkbox .facet-content ol input[type='checkbox'] {
  vertical-align: middle;
  margin: 3px;
}

.product-list-page .facets .facet-list .facet.radio .facet-content ol label,
.product-list-page .facets .facet-list .facet.checkbox .facet-content ol label {
  font-size: 1.4rem;
  text-transform: none;
  letter-spacing: normal;
}

.product-list-page .facets .facet-list .facet.radio .facet-content ol label .count,
.product-list-page .facets .facet-list .facet.checkbox .facet-content ol label .count {
  font-size: 1.4rem;
  text-transform: none;
}

.product-list-page .facets .facet-list .facet.radio .facet-content ol label .count::before,
.product-list-page .facets .facet-list .facet.checkbox .facet-content ol label .count::before {
  content: '(';
}

.product-list-page .facets .facet-list .facet.radio .facet-content ol label .count::after,
.product-list-page .facets .facet-list .facet.checkbox .facet-content ol label .count::after {
  content: ')'
}

/* Swatch Size Facet */

.product-list-page .facets .facet-list .facet.swatch.facet-size .facet-content ol {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.product-list-page .facets .facet-list .facet.swatch.facet-size .facet-content ol li button {
  border: 1px solid var(--text-color);
  background: var(--background-color);
  color: var(--text-color);
  border-radius: 3px;
  min-width: 60px;
  min-height: 38px;
  padding: 0 0 3px;
  margin: 0;
  font-size: 1.4rem;
}

.product-list-page .facets .facet-list .facet.swatch.facet-size .facet-content ol li button.active {
  background: var(--text-color);
  color: var(--background-color);
}

/* Swatch Color Facet */

.product-list-page .facets .facet-list .facet.swatch.facet-color .facet-content ol {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.product-list-page .facets .facet-list .facet.swatch.facet-color .facet-content ol li button {
  color: transparent;
  border: 1px solid var(--text-color);
  background-size: cover;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  padding: 0;
  margin: 0;
}

.product-list-page .facets .facet-list .facet.swatch.facet-color .facet-content ol li button.active {
  box-shadow: 0 0 0 2px var(--background-color) inset;
  border-color: var(--link-color);
}

.product-list-page .facets .facet-list .facet.swatch.facet-color .facet-content ol li button:hover {
  box-shadow: inset 0 0 0 18px rgba(255 255 255 / 30%);
}

.product-list-page .facets .facet-list .facet.swatch.facet-color .facet-content ol li button.active:hover {
  box-shadow: inset 0 0 0 18px rgba(255 255 255 / 30%), 0 0 0 2px var(--background-color) inset;
}

/* Price Facet */

.product-list-page .facets .facet-list .facet .price-facet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-list-page .facets .facet-list .facet .price-facet .price-slider {
  width: 100%;
  display: grid;
  height: 15px;
  margin-bottom: 10px;
  flex-basis: 100%;
}

.product-list-page .facets .facet-list .facet .price-facet .price-slider input[type='range'] {
  grid-area: 1 / 1 / 1 / 1;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  position: relative;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.product-list-page .facets .facet-list .facet .price-facet .price-slider input[type='range']::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--link-color);
  position: relative;
  cursor: pointer;
  appearance: none;
  pointer-events: all;
  border: 0;
  outline: none;
}


.product-list-page .facets .facet-list .facet .price-facet .price-slider input[type='range']::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--link-color);
  position: relative;
  cursor: pointer;
  appearance: none;
  pointer-events: all;
  border: 0;
  outline: none;
  z-index: 1;
  margin-top: -5px;
}

.product-list-page .facets .facet-list .facet .price-facet .price-slider input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: var(--dark-color);
  border-radius: 3px;
  border: none;
}

.product-list-page .facets .facet-list .facet .price-facet .price-slider input[type='range']:first-of-type::-moz-range-track {
  width: 100%;
  height: 5px;
  background: var(--dark-color);
  border-radius: 3px;
  border: none;
}

.product-list-page .products {
  flex: 75;
  display: flex;
  gap: 25px;
  flex-direction: column;
}

/* Category Title */
.product-list-page .products .title {
  align-items: last baseline;
}

@media (min-width: 900px) {
  .product-list-page .products .title {
    display: flex;
    /* gap: 2rem; */
    align-items: last baseline;
  }

}

.product-list-page .products .title h1 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  line-height: 1;
}

.product-list-page .products .title h1 ~ span {
  display: none;
  font-size: 1.6rem;
  color: var(--text-color);
  margin-inline: 1rem 3rem;
  white-space: nowrap;
}

/* sort by */
.product-list-page .products .title .sort {
  display: block;
  margin-left: auto;
  min-width: 20rem;
}

.product-list-page .products .title .sort > * {
  display: none;
}

.product-list-page .products .title .sort > button {
  width: 100%;
  border: 1px solid var(--text-color);
  background: var(--background-color);
  color: var(--text-color);
  font-size: 1.2rem;
  padding: 1rem;
  margin: 0;
}

.product-list-page .products .mobile-menu {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.product-list-page .products .mobile-menu > button {
  width: max-content;
  border: 1px solid var(--text-color);
  border-radius: .3rem;
  background: var(--background-color);
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 1;
  padding: .5rem 1.5rem 1rem;
  margin: 0;
  height: 3.1rem;
  min-width: 10rem;
}

.product-list-page .products .list > .empty {
  text-align: center;
  padding: 25px 0;
}

.product-list-page .products .list > ol {
  list-style-type: none;
  display: grid;
  margin: 0;
  padding: 0;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
}

.product-list-page .products .list > ol > li {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.product-list-page .products .list > ol > li .picture {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1.2;
  position: relative;
  overflow: hidden;
}

.product-list-page .products .list > ol > li .picture a {
  display: grid;
  text-decoration: none;
}

.product-list-page .products .list > ol > li .picture a:hover {
  text-decoration: none;
}

.product-list-page .products .list > ol > li .picture picture {
  display: block;
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / 1 / 1;
}

.product-list-page .products .list > ol > li .picture img {
  display: block;
  aspect-ratio: 1 / 1.20;
  width: 100%;
  object-fit: cover;
  font-size: 1.2rem;
}

.product-list-page .products .list > ol > li .disruptor {
  height: 0; /** Yes, this actually works and prohibits grid blowout **/
}

.product-list-page .products .list > ol > li .disruptor img {
  display: block;
  width: 100%;
}

.product-list-page .products .list > ol > li .name {
  line-height: 1;
}

.product-list-page .products .list > ol > li .name a {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.3;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 3.9rem;
}

.product-list-page .products .list > ol > li .name a sup {
  font-size: 70%;
}

@media (min-width: 1024px) {
  .product-list-page .products .list > ol > li .name a {
    font-size: 1.6rem;
    line-height: 1.3;
    height: 4.1rem;
  }
}

.product-list-page .products .list > ol > li .name a:hover {
  color: var(--link-color);
}

.product-list-page .products .list > ol > li .price {
  font-size: 1.6rem;
  line-height: 1.4;
  height: 2.8rem;
  display: flex;
  align-items: baseline;
  gap: 0.3em;
}

.product-list-page .products .list > ol > li .price .price-regular {
  font-size: 1.2rem;
  color: var(--text-color);
  text-decoration: line-through;
}

.product-list-page .products .list > ol > li .price .price-final,
.product-list-page .products .list > ol > li .price .price-from {
  font-weight: bold;
}

.product-list-page .products .list > ol > li .price .price-range {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.product-list-page .products .list > ol > li .price .price-range .price-from:first-child::after {
  content: "-";
  padding: 0 .5rem;
}

.product-list-page .products .list > ol > li .price .price-range .price-regular {
  margin-left: .4rem;
}

@media (min-width: 600px) {
  .product-list-page .products .list > ol > li .price .price-range .price-regular {
    margin-left: .6rem;
  }
}

.product-list-page .products > div:last-child {
  margin-top: auto;
}

.product-list-page .products .pagination {
  display: flex;
  height: 3.6rem;
  justify-content: space-between;
  padding-bottom: 3rem;
}

@media (min-width: 1024px) {
  .product-list-page .products .pagination {
    padding-top: 3rem;
  }
}

.product-list-page .products .pagination > div:nth-child(2) {
  display: none;
}

.product-list-page .products .pagination select#select-page {
  padding: 0 2.5rem 2px 1rem;
}

.product-list-page .products .pagination select#select-pagesize {
  width: 9rem;
  padding: 0 0 0 0.2rem;
}

.product-list-page .products .pagination label,
.product-list-page .products .pagination span {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.product-list-page .products .pagination button {
  text-transform: uppercase;
  font-size: 1.6rem;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0 0 0 2rem;
  color: var(--text-color);
  border-radius: 0;
}

.product-list-page .products .pagination button.previous::before,
.product-list-page .products .pagination button.next::after {
  display: inline-block;
  content: '';
  width: 12px;
  height: 12px;
  background: url('../../icons/rounded-triangle.svg') no-repeat center/contain;
  transform: rotate(90deg);
  margin-right: 8px;
}

.product-list-page .products .pagination button.next::after {
  background: url('../../icons/rounded-triangle.svg') no-repeat center/contain;
  transform: rotate(270deg);
  margin-right: 0;
  margin-left: 8px;
}

@media (min-width: 900px) {
  .product-list-page {
    display: flex;
  }

  main .section > div.product-list-page-wrapper {
    max-width: 1920px;
  }

  .product-list-page .facets {
    display: block;
    flex: 25;
    max-width: 430px;
    background: var(--dark-color);
    padding: 20px 30px;
    position: unset;
    z-index: unset;
    overflow: unset;
  }

  .product-list-page .facets .close {
    display: none;
  }

  .product-list-page .facets h2 {
    display: block;
    margin: 0;
    padding: 20px 5px;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  .product-list-page .facets .facet-list .facet {
    padding: 20px 0;
  }

  .product-list-page .products {
    gap: 10px;
  }

  .product-list-page .products .mobile-menu {
    display: none;
  }

  .product-list-page .products .list > ol {
    grid-template-columns: repeat(4, 1fr);
  }

  .product-list-page .products .list > ol > li .picture:hover button {
    display: block;
  }

  .product-list-page .products .pagination > div:nth-child(2) {
    display: block;
  }

  .product-list-page .products .title h1 ~ span {
    display: inline;
  }

  .product-list-page .products .title .sort {
    position: relative;
  }

  .product-list-page .products .title .sort > * {
    display: unset;
  }

  .product-list-page .products .title .sort > button {
    height: 3.8rem;
    text-transform: uppercase;
  }

  .product-list-page .products .title .sort > button::after {
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background: url('../../icons/rounded-triangle.svg') no-repeat center/contain;
    transition: all .2s ease;
  }

  .product-list-page .products .title .sort:not([disabled]):hover > button::after {
    transform: rotate(180deg);
  }

  .product-list-page .products .title .sort:not([disabled]):hover > .overlay {
    display: block;
  }

  .product-list-page .products .title .sort > .overlay {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 2;
    box-shadow: 0 36px 51px 0 rgb(0 0 0 / 30%);
    border-radius: 6px;
    font-size: 1.4rem;
    left: unset;
    top: unset;
    bottom: unset;
    overflow: unset;
  }

  .product-list-page .products .title .sort .overlay .close {
    display: none;
  }

  .product-list-page .products .title .sort > .overlay.active {
    display: none;
  }

  .product-list-page .products .title .sort .overlay a {
    color: var(--link-color);
  }

  .product-list-page .products .title .sort .overlay a:hover,
  .product-list-page .products .title .sort .overlay a.active {
    color: var(--text-color);
    text-decoration: none;
    font-family: unset;
  }

  .product-list-page .products .title .sort .overlay ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .product-list-page .products .title .sort .overlay ul > li {
    padding: 10px 20px;
    text-align: right;
  }
}

.product-list-page .shimmer {
  background: var(--dark-color);
  border-radius: 4px;
}

.product-list-page .shimmer-text {
  border-radius: 8px;
  min-height: 1.5rem;
  margin-bottom: 4px;
}

/* PLP rules from styles.css */

body.plp main .section .breadcrumb-wrapper {
  max-width: 1920px;
}

body.plp main .section .default-content-wrapper {
  font-size: 1.6rem;
}

body.plp main .section .default-content-wrapper h1 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 3rem;
}

/* seo heading */
body.plp main .section .default-content-wrapper h2 {
  color: var(--text-color);
  font-size: 2.8rem;
  margin-bottom: 0;
}
