.product-list-page {
    min-height: 700px;
}

.product-list-page .ds-sdk-product-item__image img {
    aspect-ratio: 185 / 230;
    object-fit: contain;
}

@media (min-width: 750px) {
    .product-list-page {
        min-height: auto;
    }
}