/* MEAG Fonts - FF Meta and Meta Serif (self-hosted) */

@font-face {
  font-family: meta;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.meag.com/data/medien/MetaCompPro-Book-W01-Regular.woff2') format('woff2');
}

@font-face {
  font-family: meta;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://www.meag.com/data/medien/MetaCompPro-Medium-W01-Regular.woff2') format('woff2');
}

@font-face {
  font-family: meta;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.meag.com/data/medien/MetaCompPro-Bold-W01-Regular.woff2') format('woff2');
}

@font-face {
  font-family: meta;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.meag.com/data/medien/MetaCompPro-BookIta.woff2') format('woff2');
}

@font-face {
  font-family: metaserif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.meag.com/data/medien/Meta-Serif-W01-Book.woff2') format('woff2');
}
