/* stylelint-disable no-descending-specificity */

.minicart-panel {
    z-index: 100;
    position: fixed;
    top: var(--nav-height);
    right: 0;
    left: 0;
    box-shadow: 3px 4px 4px 0 rgb(0 0 0 / 50%);
    padding: 0 20px 40px;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: content-box;
}

.minicart-panel.empty {
    gap: 0;
}

.minicart-panel .minicart-header {
    display: flex;
    height: 55px;
    align-items: center;
}

.minicart-panel .minicart-header .title,
.minicart-panel .minicart-header .subtotal {
    font-size: 1rem;
    height: 100%;
    text-transform: uppercase;
    margin: 0;
    display: flex;
    align-items: center;
}

.minicart-panel .minicart-header .title {
    border-right: 1px solid var(--highlight-background-color);
    padding-right: 8px;
}

.minicart-panel .minicart-header .subtotal {
    padding-left: 8px;
}

.minicart-panel .minicart-header .price {
    padding-left: 8px;
}

.minicart-panel .minicart-header .close {
    display: none;
}

.minicart-panel .cart-empty {
    font-size: 1rem;
    text-align: center;
}

.minicart-panel .minicart-list {
    max-height: 328px;
    overflow: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.minicart-panel .minicart-list > li {
    padding: 15px 0;
    border-bottom: 1px solid var(--highlight-background-color);
}

.minicart-panel .minicart-list .minicart-product {
    display: flex;
    gap: 5px;
}

.minicart-panel .minicart-list .minicart-product .image {
    width: 105px;
}

.minicart-panel .minicart-list .minicart-product .image img {
    width: 105px;
    height: 131px;
    object-fit: cover;
    max-width: unset;
}

.minicart-panel .minicart-list .minicart-product .info {
    font-size: 0.8rem;
}

.minicart-panel .minicart-list .minicart-product .info .name > a {
    font-size: 1.2rem;
}

.minicart-panel .minicart-list .minicart-product .info .options label {
    cursor: pointer;
}

.minicart-panel .minicart-list .minicart-product .info .options label::after {
    display: inline-block;
    margin-left: 3px;
    content: '';
    width: 16px;
    height: 16px;
    background: url('../../icons/chevron-left.svg') -3px center;
    background-repeat: no-repeat;
    transform: rotate(270deg);
    transition: all 0.3s ease;
}

.minicart-panel .minicart-list .minicart-product .info .options dl {
    display: none;
    list-style-type: none;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.minicart-panel .minicart-list .minicart-product .info .options dl > dt {
    flex-basis: 50%;
    flex-grow: 1;
    text-transform: uppercase;
}

.minicart-panel .minicart-list .minicart-product .info .options dl > dd {
    flex-basis: 50%;
    flex-grow: 1;
    text-transform: none;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.minicart-panel .minicart-list .minicart-product .info .options input {
    display: none;
}

.minicart-panel .minicart-list .minicart-product .info .options input:checked~dl {
    display: flex;
}

.minicart-panel .minicart-list .minicart-product .info .options input:checked~label::after {
    transform: rotate(90deg);
    background-position: 3px center;
}

.minicart-panel .minicart-list .minicart-product .info .quantity {
    display: flex;
    align-items: center;
    gap: 5px;
}

.minicart-panel .minicart-list .minicart-product .info .quantity input {
    width: 40px;
    height: 25px;
    padding: 0;
    text-align: center;
    border: 1px solid var(--text-color);
}

.minicart-panel .minicart-list .minicart-product .info .quantity input:invalid {
    border-color: red;
}

.minicart-panel .minicart-list .minicart-product .info .quantity button {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 0;
    background: var(--link-color);
    color: var(--background-color);
}

.minicart-panel .minicart-list .minicart-product .info .quantity button:disabled {
    opacity: .5;
}

.minicart-panel .minicart-list .minicart-product > .actions {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-left: auto;
}

.minicart-panel .minicart-list .minicart-product > .actions button {
    width: 22px;
    height: 22px;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    font-size: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}

.minicart-panel .minicart-list .minicart-product > .actions button:first-child {
    background-image: url('../../icons/edit.svg');
    visibility: hidden;
}

.minicart-panel .minicart-list .minicart-product > .actions button:nth-child(2) {
    background-image: url('../../icons/trash.svg');
}

.minicart-panel .minicart-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.minicart-panel .minicart-actions button {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

.minicart-panel .minicart-actions button:hover {
    text-decoration: underline;
}

.minicart-panel .minicart-actions button:first-child {
    background: var(--highlight-background-color);
    color: var(--text-color);
}

.minicart-panel .minicart-actions button:nth-child(2) {
    background: var(--highlight-background-color);
    color: var(--text-color);
}

.minicart-panel .overlay-background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(0 0 0 / 60%);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minicart-panel .overlay {
    background: var(--background-color);
    box-shadow: 0 0 12px 2px rgba(0 0 0 / 35%);
    font-size: 1rem;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    max-width: 500px;
    position: relative;
}

.minicart-panel .overlay > .close {
    display: block;
    background: url('../../icons/x-lg.svg') center center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    padding: 18px;
    margin: 5px;
    border-radius: 0;
    margin-left: auto;
    border: 0;
    font-size: 0;
}

.minicart-panel .overlay > .content {
    padding: 0 30px;
}

.minicart-panel .overlay > .actions {
    padding: 0 30px 10px;
    display: flex;
    gap: 5px;
}

.minicart-panel .overlay > .actions button {
    text-transform: uppercase;
    font-size: 1rem;
}

.minicart-panel .overlay > .actions button:nth-child(2) {
    background: var(--highlight-background-color);
}

@media (min-width: 1024px) {
    .minicart-panel {
        width: 398px;
        position: absolute;
        right: 20px;
        top: var(--nav-height);
        padding: 0 30px 40px;
        left: unset;
    }

    .minicart-panel .minicart-header .close {
        display: block;
        position: relative;
        right: -17px;
        top: 2px;
        width: 22px;
        height: 22px;
        border: 0;
        margin: 0 0 0 auto;
        border-radius: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        background-image: url('../../icons/x-lg.svg');
        color: var(--text-color);
        line-height: 1.2rem;;
        padding: 5px 3px 0 0;
        text-align: center;
        font-size: 0;
    }

    .minicart-panel .minicart-header .close:disabled {
        color: transparent;
        background-image: url('../../icons/loader.gif');
    }

    .minicart-panel .minicart-actions {
        flex-direction: row;
    }
}