#overlay {
  top: 0;
  left: 0;
  position: absolute;
}

#imgDiv {
  /* position: relative; */
  background-color: rgba(0, 255, 21, 0.3);
  /* height: 389.0859375px;
  width: 584px;
  left: 912px;
  right: 1496px;
  bottom: 1281.453125px;
  top: 892.3671875px; */
}
#overlay > div {
  position: relative;
  background-color: rgba(80, 250, 123, 0.5);
  /* background: red; */
}

#buttuonsDiv {
  background-color: rgba(21, 140, 244, 0.5);
}

.imgDiv h1 {
  color: white;
  font-family:'Times New Roman', Times, serif;
  font-size: '3em';
  text-align: center;
}

.buttonsDiv h2 {
  color: white;
  text-align: center;
  margin-top: inherit;
}

medium {
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.linksDiv {
  text-align: center;
}
