
/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
 @import url('./manual-styles.css');
 
:root {
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  --body-font-family: "Open Sans", "Open Sans Fallback", "sans-serif";
  --heading-font-family: "Zilla Slab", "Zilla Slab Fallback";
  --body-font-size-m: 16px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;
  --heading-font-size-xxl: 16px;
  --heading-font-size-xl: 26px;
  --heading-font-size-l: 20px;
  --heading-font-size-m: 16px;
  --heading-font-size-s: 18px;
  --heading-font-size-xs: 16px;
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family:"Zilla Slab Fallback";
  font-style:normal;
  font-weight:400;
  src:local("Arial");
  ascent-override:96.66%;
  descent-override:26.21%;
  line-gap-override:0.00%;
  size-adjust:97.67%;
}

@font-face {
  font-family:"Open Sans Fallback";
  font-style:normal;
  font-weight:400;
  src:local("Arial");
  ascent-override:101.58%;
  descent-override:27.84%;
  line-gap-override:0.00%;
  size-adjust:105.22%;
}

@font-face {
  font-family:"Open Sans Fallback";
  font-style:normal;
  font-weight:300;
  src:local("Arial");
  ascent-override:101.58%;
  descent-override:27.84%;
  line-gap-override:0.00%;
  size-adjust:105.22%;
}

@font-face {
  font-family:"Open Sans Fallback";
  font-style:normal;
  font-weight:700;
  src:local("Arial Bold");
  ascent-override:109.90%;
  descent-override:30.12%;
  line-gap-override:0.00%;
  size-adjust:97.26%;
}

@font-face {
  font-family:"Zilla Slab Fallback";
  font-style:normal;
  font-weight:700;
  src:local("Arial Bold");
  ascent-override:102.25%;
  descent-override:27.73%;
  line-gap-override:0.00%;
  size-adjust:92.33%;
}

@font-face {
  font-family:"Zilla Slab Fallback";
  font-style:normal;
  font-weight:500;
  src:local("Arial");
  ascent-override:96.00%;
  descent-override:26.03%;
  line-gap-override:0.00%;
  size-adjust:98.34%;
}

@font-face {
  font-family:"montserrat Fallback";
  font-style:normal;
  font-weight:600;
  src:local("Arial Bold");
  ascent-override:96.21%;
  descent-override:18.55%;
  line-gap-override:0.00%;
  size-adjust:104.56%;
}

@font-face {
  font-family:"montserrat Fallback";
  font-style:normal;
  font-weight:400;
  src:local("Arial");
  ascent-override:86.64%;
  descent-override:21.62%;
  line-gap-override:0.00%;
  size-adjust:111.36%;
}

@font-face {
  font-family:"montserrat Fallback";
  font-style:normal;
  font-weight:800;
  src:local("Arial Bold");
  ascent-override:90.74%;
  descent-override:29.26%;
  line-gap-override:0.00%;
  size-adjust:107.46%;
}

@font-face {
  font-family:"FontAwesome Fallback";
  font-style:normal;
  font-weight:normal;
  src:local("Arial");
  ascent-override:85.71%;
  descent-override:14.29%;
  line-gap-override:0.00%;
  size-adjust:100.00%;
}

@media (width>=900px) {
  :root {
    --body-font-size-m: 16px;
    --body-font-size-s: 18px;
    --body-font-size-xs: 16px;
    --heading-font-size-xxl: 16px;
    --heading-font-size-xl: 26px;
    --heading-font-size-l: 20px;
    --heading-font-size-m: 16px;
    --heading-font-size-s: 18px;
    --heading-font-size-xs: 16px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header, footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"], footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code, pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main>div {
  margin: 40px 16px;
}

input, textarea, select, button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link, button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover, a.button:focus, button:hover, button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main>.section {
  margin: 40px 0;
}

main>.section>div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main>.section:first-of-type {
  margin-top: 0;
}

@media (width>=900px) {
  main>.section>div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light, main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}