/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url("./fonts.css");
:root {
  /* colors */
  --background-color: #1b1b1b;
  --light-color: #f8f8f8;
  --medium-color: #4E4E5680;
  --dark-color: #505050;
  --really-dark-color: black;
  --text-color: #f3f4f5;
  --link-color: #f3f4f5;
  --link-hover-color: #f96800;

  /* fonts */
  --body-font-family: Hitmarker Text Regular, sans-serif;
  --heading-font-family: Hitmarker Condensed Black, sans-serif;
  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
  overflow-x: hidden;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
  position: relative;
  z-index: 2;
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
  letter-spacing: 1px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main {
  position: relative;
  z-index: 1;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
text-decoration: none;
    border: none;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.1;
    font-family: "Hitmarker Text Bold";
    font-weight: 700;
    font-style: normal;
    font-size: 0.88rem;
    line-height: 0.88rem;
    letter-spacing: 0.05em;
    padding: 12px 24px;
    border-radius: 2px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #858585;
    transition: opacity 150ms;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: auto;

}

main > .section > div {
  max-width: 1440px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (min-width: 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* Breadcrumbs */
div.breadcrumb {
  p.button-container {
    margin-bottom: 2rem;
  }
}

main .section[data-layout] .layout-wrapper {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
}

main .section[data-layout="50/50"] .layout-wrapper > div {
  flex: 1 50%;
}

main .section[data-layout="33/33/33"] .layout-wrapper > div {
  flex: 1 calc(33.33% - 5px);
}

main .section .layout-wrapper {
  gap: 0 !important;
  &.accordion-wrapper {
    clear: both;
    display: flex;
    flex-direction: column;
    .accordion-item {
      padding: 2.4rem 0;
      border-bottom: 1px solid #c1c1c1;
      &:first-child {
        border-top: 1px solid #c1c1c1;
      }
    }
    summary {
      color: var(--blue);
      width: calc(100% - 48px);
      position: relative;
      padding: 0 2rem 0 4.8rem;
      font-size: var(--heading-font-size-m);
      cursor: pointer;
      list-style: none;
      overflow: auto;
      transition: background-color 0.2s;
    }
    details[open] summary {
      background-color: var(--light-color);
      h3, .accordion-item-label, strong {
        color: var(--blue) !important;
      }
    }
    details summary:hover {
      h3, .accordion-item-label, strong, summary, p {
        color: var(--link-hover-color) !important;
      }
      &:before {
        background-color: var(--link-hover-color) !important;
      }
    }
    details summary::-webkit-details-marker {
      display: none;
    }
    details summary:before {
      content: '';
      background-image: url('../../../icons/arrow-white.svg');
      background-color: #0378cd;
      background-size: 30%;
      background-repeat: no-repeat;
      background-position: 54%;
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      border-radius: 50%;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      transition: transform 0.5s ease, color 0.5s ease;
    }
    details[open] summary:before {
      transform: translateY(-50%) rotate(-90deg);
    }
    details .accordion-item-body {
      padding: 2.4rem 1.6rem 1.6rem 4.8rem;
      margin-bottom: 0;
    }
    details[open] .accordion-item-body {
      border-top: 1px solid var(--dark-color);
      background-color: none;
      p {
        clear: both;
      }
    }
  }
  &.tabs-wrapper {
    flex-direction: column;
    .tabs-list {
      padding-left: 0;
      padding-top: 1em;
      font-weight: normal;
      font-family: "anova-med","Arial","Helvetica",sans-serif;  ;
      display: flex;
      gap: 8px;
      max-width: 100%;
      font-size: var(--body-font-size-xs);
      border-bottom: 1px solid var(--grayRule);
      overflow-x: auto;
    }
    @media (width >= 600px) {
      .tabs-list {
        font-size: var(--body-font-size-s);
        border-bottom: 1px solid var(--grayRule);
      }
    }
    
    @media (width >= 900px) {
      .tabs-list {
        font-size: 1.6rem;
      }
    }

    .tabs-list h3 {
      color: #0378cd;
      line-height: 2.5em;
      font-family: "anova-med","Arial","Helvetica",sans-serif;
      font-weight: normal;
      font-size: 1.4rem;
    }

    .tabs-list button {
      cursor: pointer;
      flex: 0 0 max-content;
      margin: 0;
      border: 1px solid var(--grayRule);
      border-radius: 5px 5px 0 0;
      padding: 8px 16px;
      background-color: var(--gray);
      color: var(--blue);
      font-family: var(--font-secondary);
      font-size: 1.5rem;
      line-height: unset;
      text-align: initial;
      text-overflow: unset;
      overflow: unset;
      white-space: unset;
      transition: background-color 0.2s;
      border-bottom: none;
    }

    .tabs-list button p {
      margin: 0;
    }

    .tabs-list .tab-tab {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      
    }

    .tabs-list button[aria-selected='true'] {
      cursor: pointer;
      border-bottom: none;
      background-color: var(--blue) !important;
      color: white;
    }

    .tabs-panel {
      padding: 2rem 0 3.2rem 0;
      border: none;
      overflow: auto;
      @media (width <=900px) {
        padding: 2rem 0 3.2rem 0;
      }
    }

    .tabs-panel[aria-hidden="true"] {
      display: none;
    }

    .tabs-panel picture {
      border: none;
      border-radius: 0;
      width: auto;
      max-width: 100%;
      height: auto;
      display: inline-block;
      padding: 0;
      border-image-repeat: stretch;
    }

    .tabs-panel a:hover {
      text-decoration: none;
      color: #3aaafc;
    }
  }
}


/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

main .section {
  padding: 64px 16px;
  scroll-margin: calc(var(--nav-height) + 1em);
  &.section-padding-none {
    padding-bottom: 0 !important;
  }
  &.section-padding-xsmall {
    padding-bottom: 32px !important;
  }
  &.section-padding-small {
    padding-bottom: 56px !important;
    @media (width <=600px) {
      padding-bottom: 32px !important;
    }
  }
  &.section-padding-medium {
    padding-bottom: 64px !important;
    @media (width <= 900px) {
      padding-bottom: 32px !important;
    }
  }
  &.section-padding-large {
    padding-bottom: 96px !important;
    @media (width <= 900px) {
      padding-bottom: 32px !important;
    }
  }
  &.section-padding-xlarge {
    padding-bottom: 128px;
    @media (width <=900px) {
      padding-bottom: 32px;
    }
  }
  &.section-top-padding-none {
    padding-top: 0 !important;
  }
  &.section-top-padding-xsmall {
    padding-top: 16px !important;
  }
  &.section-top-padding-small {
    padding-top: 32px !important;
  }
  &.section-top-padding-medium {
    padding-top: 64px !important;
  }
  &.section-top-padding-large {
    padding-top: 96px !important;
  }
}
@media (width >=240px) {
  main .section {
    padding: 64px 16px 16px 16px;
  }
}
@media (width >=360px) {
  main .section {
    padding: 64px 32px 32px 32px;
  }
}
@media (width >=600px) {
  main .section {
    padding: 64px 32px 32px 32px;
  }
}
@media (min-width: 900px) {
  .section > div {
    max-width: 1440px;
    margin: auto;
  }
  .section.content-wide > div {
    max-width: 1400px;
    margin: auto;
  }
}
/* Column layouts */
div.columns-50-50 {
  .layout-wrapper {
    .group-1 {
      width: 50%;
    }
    .group-2 {
      width: 50%;
    }
  }
}
div.columns-60-40 {
  .layout-wrapper {
    .group-1 {
      width: 60%;
    }
    .group-2 {
      width: 40%;
    }
  }
}
div.columns-40-60 {
  .layout-wrapper {
    .group-1 {
      width: 40%;
    }
    .group-2 {
      width: 60%;
    }
  }
}
div.columns-66-33 {
  .layout-wrapper {
    .group-1 {
      width: 66%;
    }
    .group-2 {
      width: 33%;
    }
  }
}
div.columns-33-66 {
  .layout-wrapper {
    .group-1 {
      width: 33%;
    }
    .group-2 {
      width: 66%;
    }
  }
}
div.columns-25-75 {
  .layout-wrapper {
    .group-1 {
      width: 25%;
    }
    .group-2 {
      width: 75%;
    }
  }
}
div.columns-75-25 {
  .layout-wrapper {
    .group-1 {
      width: calc(75% - 20px);
    }
    .group-2 {
      width: calc(25%) ;
    }
  }
}
div.columns-20-80 {
  .layout-wrapper {
    .group-1 {
      width: 20%;
    }
    .group-2 {
      width: 80%;
    }
  }
}
div.columns-80-20 {
  .layout-wrapper {
    .group-1 {
      width: 80%;
    }
    .group-2 {
      width: 20%;
    }
  }
}
div.columns-25-25-25-25 {
  .layout-wrapper {
    .group-1 {
      width: 25%;
    }
    .group-2 {
      width: 25%;
    }
    .group-3 {
      width: 25%;
    }
    .group-4 {
      width: 25%;
    }
  }
}
div.columns-25-50-25 {
  .layout-wrapper {
    column-gap: 20px;
    max-width: 1440px;
    margin: auto;
    .group-1 {
      width: 25%;
    }
    .group-2 {
      width: 50%;
    }
    .group-3 {
      width: 25%;
    }
  }
  @media (width >=900px) {
    .layout-wrapper {
      column-gap: 36px !important;
    }
  }
  @media (width <=900px) {
    .layout-wrapper {
      display: block !important;
      column-gap: 32px !important;
      .group-1, .group-2, .group-3 {
        display: block;
        width: auto;
        margin-bottom: 1.6rem;
      }
      .group-3 {
        margin-bottom: 0;
      }
    }
  }
  &.gap-32 {
    .layout-wrapper {
      column-gap: 32px !important;
    }
  }
}
div.columns-20-65-15 {
  .layout-wrapper {
    column-gap: 20px;
    max-width: 1440px;
    margin: auto;
    .group-1 {
      width: 20%;
    }
    .group-2 {
      width: 65%;
      padding: 0 20px;
    }
    .group-3 {
      width: 15%;
    }
  }
  @media (width <=900px) {
    .layout-wrapper {
      display: block !important;
      column-gap: 32px !important;
      .group-1, .group-2, .group-3 {
        display: block;
        width: auto;
        margin-bottom: 1.6rem;
      }
      .group-3 {
        margin-bottom: 0;
      }
    }
  }
  &.gap-32 {
    .layout-wrapper {
      column-gap: 32px !important;
    }
  }
}
div.columns-15-70-15 {
  .layout-wrapper {
    column-gap: 20px;
    max-width: 1440px;
    margin: auto;
    .group-1 {
      width: 15%;
    }
    .group-2 {
      width: 70%;
    }
    .group-3 {
      width: 15%;
    }
  }
  @media (width >=900px) {
    .layout-wrapper {
      column-gap: 36px !important;
    }
  }
  @media (width <=900px) {
    .layout-wrapper {
      display: block !important;
      column-gap: 32px !important;
      .group-1, .group-2, .group-3 {
        display: block;
        width: auto;
        margin-bottom: 1.6rem;
      }
    }
  }
  &.gap-32 {
    .layout-wrapper {
      column-gap: 32px !important;
    }
  }
}
div.columns-50-50, div.columns-25-75, div.columns-75-25, div.columns-60-40, div.columns-40-60, div.columns-66-33, div.columns-33-66, div.columns-20-80 , div.columns-80-20 {
  @media (width >=900px) {
    .layout-wrapper {
      column-gap: 36px !important;
    }
  }
  @media (width <=900px) {
    .layout-wrapper {
      display: block !important;
      .group-1 {
        display: block;
        width: auto;
        margin-bottom: 1.6rem;
      }
      .group-2 {
        display: block;
        width: unset;
        margin-bottom: 0;
      }
    }
  }
  &.gap-32 {
    .layout-wrapper {
      column-gap: 32px !important;
    }
  }
}


.group-1-gray {
  .layout-wrapper {
    .group-1 {
      background-color: #f4f4f4;
      border-radius: 5px;
      padding: 2.4rem;
    }
  }
}
.group-2-gray {
  .layout-wrapper {
    .group-2 {
      background-color: #f4f4f4;
      border-radius: 5px;
      padding: 2.4rem;
    }
  }
}
.group-1-outline {
  .layout-wrapper {
    .group-1 {
      border: 1px solid #d0d0d0;
      border-radius: 5px;
      height: max-content;
      padding: 2.4rem;
    }
  }
}
.group-2-outline {
  .layout-wrapper {
    .group-2 {
      border: 1px solid #d0d0d0;
      border-radius: 5px;
      height: max-content;
      padding: 2.4rem;
    }
  }
}
.section-purple {
  .layout-wrapper {
    background-color: var(--purple);
    .group-1, .group-2 {
      padding: 2.4rem;
    }
  }
}
.section-blue {
  .layout-wrapper {
    background-color: var(--blue);
    .group-1, .group-2 {
      padding: 2.4rem;
    }
  }
}
.section-gray {
  .layout-wrapper {
    background-color: #f4f4f4;
    .group-1, .group-2 {
      padding: 2.4rem;
    }
  }
}
.section-rounded {
  .layout-wrapper {
    border-radius: 10px;
  }
}
.section-vertical-center {
  .group-1, .group-2 {
    display: flex;
    align-items: center !important;
  }
  &.columns > div > div {
    align-self: center !important;
  }
}
.gap-32 {
  .layout-wrapper {
    column-gap: 32px !important;
  }
}

div.success-story-body {
  .layout-wrapper {
    column-gap: 64px !important;
    .group-1 {
      h4 {
        color: var(--purple);
        font-family: var(--font-secondary);
        font-size: 1.6rem;
      }
    }
  }
  @media (width <=900px) {
    .layout-wrapper {
      display: block !important;
      .group-1 {
        display: block;
        width: auto;
        margin: 0 0 40px 0;
        padding: 20px;
        border: 1px solid #d0d0d0;
        background-color: #f4f4f4;
        border-radius: var(--base-radius);
      }
    }
  }
}

div.blog-columns {
  .layout-wrapper {
    max-width: 1440px;
    margin: auto;
    column-gap: 20px;
    
    .group-1, .group-2, .group-3 {
      box-sizing: border-box;
    }
  }
  
  /* Tablet view (between 601px and 900px) */
  @media (min-width: 601px) and (max-width: 900px) {
    .layout-wrapper {
      .group-3 {
        display: none;
      }
      
      .group-1 {
        width: 25%;
      }
      
      .group-2 {
        width: 75%;
      }
    }
  }
  
  /* Mobile view (600px and below) */
  @media (max-width: 600px) {
    .layout-wrapper {
      .group-1, .group-3 {
        display: none;
      }
      
      .group-2 {
        width: 100%;
        padding: 0 !important;
        overflow-x: hidden;
        word-wrap: break-word;
      }
    }
  }
}


@media (max-width: 900px) {
  main > .section > div{
    padding: 0;
  }
}