name: Tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '12'
    - run: npm install
      working-directory: test
    - run: npm run lint
    - run: npm test
      working-directory: test
      env:
        CI: true
